<div class="container no-response">
    <div class="row">
        <div class="col-md-12">
            <h1>No Response Data</h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <p>The following requirements must be met before the model can produce response results.</p>
            <div class="well">
                <ul>
                    <li class="spill"><span> </span> One or more spills are provided <a class="btn btn-link select">Set Spill</a></li>
                    <li class="substance"><span> </span> Oil type (from oil library) needs to be selected <a class="btn btn-link select">Set Oil</a></li>
                    <li class="water"><span> </span> Water conditions need to be specified <a class="btn btn-link select">Set Water Properties</a></li>
                    <li class="wind"><span> </span> One or more winds are provided <a class="btn btn-link select">Set Wind Properties</a></li>
                    <li class="response"><span> </span> One or more response platforms are provided <a class="btn btn-link select">Add response platform</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


