<form class="form-horizontal" role="form">
	<div class="container">
		<div class="col-md-6">
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-5" for="water-area">Water Area:</label>
					<div class="col-sm-2">
						<input type="text" id="water-area" class="form-control" value="{{ area }}">
					</div>
					<div class="col-sm-3">
						<select class="form-control col-sm-3" id="area-units">
							<option value="sq. km">sq. km</option>
							<option value="sq. miles">sq. miles</option>
							<option value="hectares">hectares</option>
							<option value="acres">acres</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-5" for="water-diameter">Water Diameter:</label>
					<div class="col-sm-2">
						<input type="text" id="water-diameter" class="form-control" value="{{ diameter }}">
					</div>
					<div class="col-sm-3">
						<select class="form-control col-sm-3" id="diameter-units">
							<option value="km">km</option>
							<option value="miles">miles</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-5" for="distance-from-shore">Spill Distance from Shore:</label>
					<div class="col-sm-2">
						<input type="text" id="distance-from-shore" class="form-control" value="{{ distance }}">
					</div>
					<div class="col-sm-3">
						<select class="form-control col-sm-3" id="distance-units">
							<option value="km">km</option>
							<option value="miles">miles</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-5" for="average-water-depth">Average Water Depth:</label>
					<div class="col-sm-2">
						<input type="text" id="average-water-depth" class="form-control" value="{{ depth }}">
					</div>
					<div class="col-sm-3">
						<select class="form-control col-sm-3" id="depth-units">
							<option value="m">m</option>
							<option value="ft">ft</option>
							<option value="yards">yards</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<label class="control-label col-sm-5" for="duration-hours">Duration:</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" id="duration-hours" class="form-control" value="{{ hours }}">
						<span class="input-group-addon">hours</span>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" id="duration-days" class="form-control" value="{{ days }}">
						<span class="input-group-addon">days</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
