<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="control-label col-sm-5" for="average-water-depth">Average Water Depth:</label>
		<div class="col-sm-2">
			<input type="text" id="average-water-depth" class="form-control" value="{{ depth }}" />
		</div>
		<div class="col-sm-3">
			<select class="form-control col-sm-3" id="depth-units">
				<option value="m">m</option>
				<option value="ft">ft</option>
				<option value="yards">yards</option>
			</select>
		</div>
	</div>
</form>
