<div id="{{ selector }}" class="col-sm-11 col-sm-offset-1">
    <div class="col-sm-12">
        <label class="control-label" id="sliderlabel">{{ selectorName }}</label>
    </div>
    <div class="col-sm-12">
        <div class="slider"></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-1 slider-label"><sup>{{ min }}</sup></div>
        <div class="col-sm-2 col-sm-offset-9 slider-label" style="text-align:right"><sup>{{ max }}</sup></div>
    </div>
    <div class="col-sm-12">
        <p class="hide save-warn">Unsaved change</p>
    </div>
</div>