<form class="form-horizontal" role="form">
	<div class="container">
		<div class="col-md-6">
			<div class="row">
				<div class="form-group">
                        		<div class="col-sm-12">
                            			<label class="control-label">Skimming recovery efficiency:</label>
                        		</div>
                        		<div class="col-sm-10 col-sm-offset-1">
                            			<div class="slider-skimming"></div>
                        			<div class="pull-left"><sup>0%</sup></div>
                        			<div class="pull-right"><sup>100%</sup></div>
                        		</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
                        		<div class="col-sm-12">
                            			<label class="control-label">Dispersant effectiveness:</label>
                        		</div>
                        		<div class="col-sm-10 col-sm-offset-1">
                            			<div class="slider-dispersant"></div>
                        			<div class="pull-left"><sup>0%</sup></div>
                        			<div class="pull-right"><sup>100%</sup></div>
                        		</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
                        		<div class="col-sm-12">
                            			<label class="control-label">In-situ burn efficiency:</label>
                        		</div>
                        		<div class="col-sm-10 col-sm-offset-1">
                            			<div class="slider-in-situ-burn"></div>
                        			<div class="pull-left"><sup>0%</sup></div>
                        			<div class="pull-right"><sup>100%</sup></div>
                        		</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="col-sm-5 control-label">Resources:</label>
					<div class="col-sm-6">
						<canvas id="resources" class="form-control" height="500" width="500">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
