<form class="form-horizontal tuning" role="form">
    <div class="row">
        <div class="col-md-5 inset">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Efficiencies:</label>
                </div>
                <div id="skimming" class="{%if(!showSkimming){%}hide{%}%} col-sm-11 col-sm-offset-1">
                    <div class="col-sm-12">
                        <label class="control-label" id="skimminglabel">Skimming:</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="slider"></div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-0 slider-label"><sup>0%</sup></div>
                    <div class="col-sm-2 col-sm-offset-7 slider-label" style="text-align:right"><sup>100%</sup></div>
                </div>
                <div id="dispersant" class="{%if(!showDispersant){%}hide{%}%} col-sm-11 col-sm-offset-1">
                    <div class="col-sm-12">
                        <label class="control-label" id="dispersantlabel">Dispersant:</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="slider"></div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-0 slider-label"><sup>0%</sup></div>
                    <div class="col-sm-2 col-sm-offset-7 slider-label" style="text-align:right"><sup>100%</sup></div>
                </div>
                <div id="insituburn" class="{%if(!showBurn){%}hide{%}%} col-sm-11 col-sm-offset-1">
                    <div class="col-sm-12">
                        <label class="control-label" id="insituburnlabel">In-situ Burn:</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="slider"></div>
                    </div>
                    <div class="col-sm-2 col-sm-offset-0 slider-label"><sup>0%</sup></div>
                    <div class="col-sm-2 col-sm-offset-7 slider-label" style="text-align:right"><sup>100%</sup></div>
                </div>
            </div>
        </div>
        <div class="col-md-7 main">
            <div class="container">
            	<div class="col-md-6">
            		<div class="gauge-container col-md-1">
            			<google-chart 
                            type='gauge'
                            options='{"height": 200, "width": 200, "title": "Benefit Gauge", "redFrom": 0, "redTo": 25, "yellowFrom": 25, "yellowTo": 75, "greenFrom": 75, "greenTo": 100, "minorTicks": 5}'
                            data='[["Label", "Value"], ["Benefit", 50]]'>
                        </google-chart>
            		</div>
            	</div>
                <div class="col-sm-12">
                    <label for="importance">Relative Importance:</label>
                </div>
                <div class="col-sm-12">
                    <canvas id="importance" height="225" width="225">
                </div>
                <div class="col-md-6">
                    <div class="col-sm-6 relative-importance"></div>
                </div>
            </div>
        </div>
    </div>
</form>
