<ul class="nav nav-tabs">
    <li class="active"><a href="#coast" data-toggle="tab">Coast Line</a></li>
    <li><a href="#draw" data-toggle="tab">Draw</a></li>
    <li><a href="#upload" data-toggle="tab">Upload</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="coast">
        <div class="#map"></div>
    </div>
    <div class="tab-pane" id="draw">
        <div class="#draw-map"></div>
    </div>
    <div class="tab-pane" id="upload">
        Upload a GeoJSON or BNA file.
    </div>
</div>