<ul class="nav nav-tabs">
    <li class="active"><a href="#upload" data-toggle="tab">Upload</a></li>
    <li><a href="#coast" data-toggle="tab">Coast Line <span class="label label-danger">incomplete</span></a></li>
    <li><a href="#draw" data-toggle="tab">Draw <span class="label label-danger">incomplete</span></a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="upload">
        <p>Upload a GeoJSON or BNA file. If you don't have one you can use <a href="http://gnome.orr.noaa.gov/goods/tools/coast_subset" target="_blank">GOODS</a> to generate one.</p>
        <img src="/img/loading.gif" class="loading" />
        <div class="file">
            <p>Drag &amp; drop the file here.</p>
            <input type="file">
        </div>
    </div>
    <div class="tab-pane" id="coast">
        <p>Use the map below to highlight the shoreline you would like to use in your model.</p>
        <div class="map" id="map"></div>
    </div>
    <div class="tab-pane" id="draw">
        <p>Use the area below to draw the shape you would like to use in your model.</p>
        <div class="map" id="draw-map"></div>
    </div>
    <div class="tab-pane" id="upload">
        <p>Upload a GeoJSON or BNA file.</p>
    </div>
</div>