<form class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date &amp; Time</th>
                            <th>
                                <div class="pull-left">Amount</div>
                                <div class="col-xs-7">
                                    <select name="units" class="form-control" id="units">
                                        <option value="m^3">cubic meters</option>
                                        <option value="gal">gallons</option>
                                        <option value="kg">kilograms</option>
                                    </select>
                                </div>
                            </th>
                            <th></th>
                        </th>
                    </thead>

                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>