<form class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date &amp; Time</th>
                            <th>
                                <div class="pull-left">Amount</div>
                                <div class="col-xs-7">
                                    <select name="units" class="form-control" id="units">
                                        <option value="m^3">m^3</option>
                                        <option value="gal">gal</option>
                                        <option value="kg">kilograms</option>
                                        <option value="metric ton">metric tons</option>
                                        <option value="ton">tons</option>
                                        <option value="bbl">bbl</option>
                                    </select>
                                </div>
                            </th>
                            <th></th>
                    </thead>

                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="datetime" class="control-label pull-right">Date &amp; Time:</label>                        
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group date">
                                    <input type="text" id="datetime" class="form-control" value="">
                                    <span class="input-group-addon" id="datepick">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5"><label class="control-label pull-right" for="beached-amount">Amount:</label></div>
                            <div class="col-sm-4"><input type="number" min="1" id="beached-amount" class="form-control col-xs-3" value="0"></div>
                        </div>
                        <div class="row"><div class="col-sm-12"><hr></div></div>
                        <div class="form-group">
                            <div class="col-sm-4"><a href="#" class="btn btn-success add">Add Entry</a></div>
                            <div class="col-sm-5"><label for="incrementer" class="control-label pull-right">Inc. (hrs):</label></div>
                            <div class="col-sm-3"><input id="incrementCount" type="number" value="24" class="form-control"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>