<form class="form-horizontal random-form" role="form">

	<div class="form-group">
		<div class="col-sm-12">
			<label class="control-label col-xs-3" for="currentFile">Current File: </label><div class="col-xs-9"><input class="col-xs-6 form-control" type="text" id="currentFile" value="{{ currentFile }}" disabled></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-5">
			<input type="checkbox" name="active" value="on" id="active" class="col-xs-1"><label class="control-form col-xs-4" for="active">Active</label>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-5">
			<input class="col-xs-1" type="checkbox" name="showVelo" value="" id="showVelo"><label for="veloNum" class="control-form col-xs-10">Show Velocities &commat; 1 in = </label></div><div class="col-sm-3"><input type="number" id="veloNum" class="form-control col-xs-2" value=""></div>m/s
	</div>

	<div class="form-group">
		<label class="control-label col-sm-5">Coefficients/Time Series</label>
		<div class="col-sm-6">
			<select class="form-control col-xs-6">
				<option value="none">No Time Series</option>
				<option value="shio-currents">Shio Currents Coefficients</option>
				<option value="shio-heights">Shio Heights Coefficients</option>
				<option value="current">Current Time Series</option>
				<option value="hydrology">Hydrology Time Series</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<div class="col-xs-6"><label for="fileName" class="control-label">File Name: </label></div><div class="col-xs-6"><input class="col-xs-6 form-control" id="fileName" type="text" value="{{ fileName }}" disabled></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<div class="col-xs-6"><label for="fileUnits">Time File Units: </label></div><div class="col-xs-6"><input class="col-xs-6 form-control" id="fileUnits" type="text" value="{{ fileUnits }}" disabled></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">Reference Point</div>
		<div class="col-sm-9"><hr></div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<div class="col-xs-6"><label class="control-label" for="unscaleRef">Unscaled Value at Reference Point: </label></div><div class="col-xs-4"><input class="col-xs-4 form-control" type="text" value="{{ unscaleRefPoint }}" id="unscaleRef" disabled></div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<div class="radio">
				<label for="refPointScale" class="control-label">
					<input type="radio" class="col-xs-1" name="refPointScale" value="noRef" id="refPointScale">No Reference Point Scaling
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			<div class="radio">
				<label for="refPointScale" class="control-label">
					<input type="radio" name="refPointScale" value="scaleToNum" id="refPointScale" class="col-xs-1">Scale To: 
				</label>
			</div>
		</div>
		<div class="col-sm-4">
			<input for="refPointScale" type="number" id="refScaleNum" class="form-control col-xs-2" value="">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			<div class="radio">
				<label for="refPointScale" class="control-label">
					<input type="radio" class="col-xs-1" name="refPointScale" value="otherRef" id="refPointScale">Scale to Other Grid:
				</label>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li class="decimalDegs">
			<a href="#decimalDegs" data-toggle="tab">Decimal Degrees</a>
		</li>
		<li class="degMin">
			<a href="#degMin" data-toggle="tab">Deg / Min</a>
		</li>
		<li class="degMinSec">
			<a href="#degMinSec" data-toggle="tab">Degree / Min / Sec</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane" id="decimalDegs">
			<div class="row">
				<div class="col-sm-7">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-3"><label class="control-label" for="deciLat">Latitude:</label></div>
							<div class="col-sm-5"><input type="number" id="deciLat" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-4">
								<select class="form-control col-xs-2">
									<option value="north">North</option>
									<option value="south">South</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3"><label class="control-label" for="deciLon">Longitude:</label></div>
							<div class="col-sm-5"><input type="number" id="deciLon" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-4">
								<select class="form-control col-xs-2">
									<option value="west">West</option>
									<option value="east">East</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="degMin">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-12"><label class="control-label" for="Latitude">Latitude</label></div>
							<div class="col-sm-1"><label class="control-label" for="degLat">Deg:</label></div>
							<div class="col-sm-3"><input type="number" id="degLat" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-1"><label class="control-label" for="minLat">Min:</label></div>
							<div class="col-sm-3"><input type="number" id="minLat" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-3">
								<select class="form-control col-xs-3">
									<option value="north">North</option>
									<option value="south">South</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12"><label class="control-label" for="Longitude">Longitude</label></div>
							<div class="col-sm-1"><label class="control-label" for="degLon">Deg:</label></div>
							<div class="col-sm-3"><input type="number" id="degLon" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-1"><label class="control-label" for"minLon">Min:</label></div>
							<div class="col-sm-3"><input type="number" id="minLon" class="form-control col-xs-3" value=""></div>
							<div class="col-sm-3">
								<select class="form-control col-xs-3">
									<option value="west">West</option>
									<option value="east">East</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="tab-pane" id="degMinSec">
			<div class="row">
				<div class="col-sm-12">
					<div class="row col-sm-offset-1">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-sm-12"><label class="control-label" for="Latitude">Latitude</label></div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="degLat">Deg:</label></div>
									<div class="col-sm-5"><input type="number" id="degLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="minLat">Min:</label></div>
									<div class="col-sm-5"><input type="number" id="minLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="secLat">Sec:</label></div>
									<div class="col-sm-5"><input type="number" id="secLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-7">
										<select class="form-control col-xs-3">
											<option value="north">North</option>
											<option value="south">South</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-sm-12"><label class="control-label" for="Latitude">Longitude</label></div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="degLat">Deg:</label></div>
									<div class="col-sm-5"><input type="number" id="degLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="minLat">Min:</label></div>
									<div class="col-sm-5"><input type="number" id="minLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-3"><label class="control-label" for="secLat">Sec:</label></div>
									<div class="col-sm-5"><input type="number" id="secLat" class="form-control col-xs-3" value=""></div>
								</div>
								<div class="form-group">
									<div class="col-sm-7">
										<select class="form-control col-xs-3">
											<option value="west">West</option>
											<option value="east">East</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>