<form class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>
                        Extrapolate the Grid Data:
                        {% if (gridded_wind_mover.get('wind').get('extrapolation_is_allowed')) { %}
                            <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed" checked="checked">
                        {% } else { %}
                            <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed">
                        {% } %}
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
