<form class="form-horizontal" role="form">
	<div class="form-group">
        <label class="col-sm-5 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ model.get('name') }}">           
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label" for="name">Refloat Halflife (hrs):</label>
        <div class="col-sm-5">
            <input type="text" id="refloat_halflife" class="form-control" value="{{ model.get('refloat_halflife') }}">           
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label" for="name">Max Raster Size (MB):</label>
        <div class="col-sm-5">
            <input type="text" id="raster_size" class="form-control" value="{{ Number(model.get('raster_size')/(1024*1024)).toFixed(0) }}">           
        </div>
    </div>
    
    <!--
    <div class="form-group">
        <label class="col-sm-5 control-label" for="map_bounds">Map Bounds:</label>
        <div class="col-sm-5">
           <div class="input-group">
                <input type="text" data-type="array" id="map_bounds" class="form-control" name="map_bounds">
            </div>     
        </div>
    </div>
    -->
    
</form>

