<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-5 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
        <label class="col-sm-5 control-label" for="active">On:</label>
        <div class="col-sm-5">
            <input type="checkbox" id="active" class="form-control" checked={{ active }}>
        </div>
    </div>
    
</form>