<form class="form-horizontal oil-form" role="form">
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" value="">
		</div>
	</div>

	<div class="form-group">
		<label for="productType" class="col-sm-4 control-label">Product Type:</label>
		<div class="col-sm-8">
			<select id="productType" class="chosen-select" style="width:350px;">
				<option value="non-weathering">non-weathering</option>
				<option value="fuel-oil-6">fuel oil #6</option>
				<option value="medium-crude">Medium Crude</option>
				<option value="fuel-oil-4">fuel oil #4</option>
				<option value="diesel">Diesel</option>
				<option value="kerosene-jet-fuels">Kerosene/Jet Fuels</option>
                <option value="gasoline">Gasoline</option>
            </select>
        </div>
        <div class="chosen-container chosen-container-single chosen-with-drop chosen-container-active"></div>
	</div>

</form>