<form class="form-horizontal oil-form" role="form">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" value="">
		</div>
	</div>

	<div class="form-group">
		<label for="productType" class="col-sm-2 control-label">Product Type:</label>
		<div class="col-xs-4">
			<select id="productType" class="form-control">
				<option value="non-weathering">non-weathering</option>
				<option value="fuel-oil-6">fuel oil #6</option>
				<option value="medium-crude">Medium Crude</option>
				<option value="fuel-oil-4">fuel oil #4</option>
				<option value="diesel">Diesel</option>
				<option value="kerosene-jet-fuels">Kerosene/Jet Fuels</option>
                <option value="gasoline">Gasoline</option>
            </select>
        </div>
        <label for="oilClass" class="col-sm-2 control-label">Oil Class:</label>
		<div class="col-xs-4">
			<select id="oilClass" class="form-control">
				<option value="one">One</option>
				<option value="two">Two</option>
				<option value="three">Three</option>
				<option value="four">Four</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="location" class="col-sm-2 control-label">Location:</label>
		<div class="col-xs-4">
			<select id="location" class="chosen-select form-control">
				<option value="usa">United States</option>
				<option value="algeria">Algeria</option>
				<option value="Venezuela">Venezuela</option>
				<option value="Mexico">Mexico</option>
			</select>
		</div>
		<label for="oilFieldName" class="col-sm-2 control-label">Oil Field Name:</label>
		<div class="col-xs-4">
			<select id="oilFieldName" class="chosen-select form-control">
				<option value="anwar">ANWAR</option>
				<option value="slovakia1">Slovakia One</option>
				<option value="abu_sassar">Abu Sassar</option>
				<option value="el_parajo">El Parajo</option>
			</select>
		</div>
	</div>

	<div class="form-group" id="api">
		<label for="api" class="col-sm-2 control-label">API:</label>
		<div class="slider col-xs-4 slider-api"></div>
	</div>

</form>

<div id="tableContainer"></div>