<form class="form-horizontal oil-form" role="form">
	<div class="form-group">
		<label for="search" class="col-sm-2 control-label">Search:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="search" value="">
		</div>
	</div>

	<div class="form-group">
		<label for="location" class="col-sm-2 control-label">Location:</label>
		<div class="col-xs-4">
			<select id="location" class="chosen-select form-control">
				<option value="usa">United States</option>
				<option value="algeria">Algeria</option>
				<option value="Venezuela">Venezuela</option>
				<option value="Mexico">Mexico</option>
			</select>
		</div>
		<label for="oilFieldName" class="col-sm-2 control-label">Oil Field Name:</label>
		<div class="col-xs-4">
			<select id="oilFieldName" class="chosen-select form-control">
				<option value="anwar">ANWAR</option>
				<option value="slovakia1">Slovakia One</option>
				<option value="abu_sassar">Abu Sassar</option>
				<option value="el_parajo">El Parajo</option>
			</select>
		</div>
	</div>

	<div class="form-group" id="api">
		<label for="api" class="col-sm-2 control-label">API:</label>
		<div class="slider col-xs-4 slider-api"></div>
	</div>

</form>

<table class="table" id="tableContainer">{{ oilTable }}</table>