<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="spill_name" class="col-sm-3 control-label">Spill Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" placeholder="" value="{{ name }}">
        </div>
    </div>

    <div class="form-group">
        <label for="pollutant" class="col-sm-3 control-label">Pollutant</label>
        <div class="col-sm-8">
            <select id="pollutant" name="pollutant">
                <option value="non-weathering">non-weathering</option>
                <option value="fuel-oil-6">fuel oil #6</option>
                <option value="medium-cruid">Medium Crude</option>
                <option value="fuel-oil-4">fuel oil #4</option>
                <option value="diesel">Diesel</option>
                <option value="kerosene-jet-fuels">Kerosene/Jet Fuels</option>
                <option value="gasoline">Gasoline</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="release-amount" class="col-sm-3 control-label">Amount Released</label>
        <div class="col-sm-4">
            <input type="number" id="amount-released">
        </div>
        <div class="col-sm-4">
            <select name="release-unit">
                <option value="barrels"></option>
                <option value="kg">kg</option>
                <option value="metric-tons">metric tons</option>
                <option value="short-tons">short tons</option>
                <option value="gallons">gallons</option>
                <option value="m3">m**3</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="release-start" class="col-sm-6 control-label">Release Start</label>
        <label for="release-end" class="col-sm-6 control-label">Release End</label>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <input type="text" id="release-start">
        </div>
        <div class="col-sm-6">
            <input type="text" id="release-end">
        </div>
    </div>
</form> 
