<form class="form-horizontal" role="form">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-sm-5"><label class="control-label" for="temp">Temperature</label></div>
					<div class="col-sm-3"><input class="form-control" type="text" id="temp"></div>
					<div class="col-sm-2">
						<select class="form-control col-xs-3" id="tempunits">
							<option value="F">
								&deg;F
							</option>
							<option value="C">
								&deg;C
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-5"><label class="control-label" for="salinity">Salinity in ppt (g/Kg)</label></div>
					<div class="col-sm-5">
						<select class="form-control col-xs-8" id="salinity">
							<option value="0">
								0 (fresh water)
							</option>
							<option value="15">
								15 (avg. estuary)
							</option>
							<option value="32">
								32 (avg. oceanic)
							</option>
							<option value="other">
								Other Value...
							</option>
						</select>
					</div>
				</div>
				<div class="form-group hide" id="salinity-entry">
					<div class="col-sm-5"><label class="control-label" for="salinity-manual">Salinity (g/Kg)</label></div>
					<div class="col-sm-5"><input type="text" class="form-control" id="salinity-manual"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-5"><label class="control-label" for="sediment">Water Sediment Load (mg/L)</label></div>
					<div class="col-sm-5">
						<select class="form-control col-xs-8" id="sediment">
							<option value="5">
								5 (ocean)
							</option>
							<option value="50">
								50 (avg. river/estuary)
							</option>
							<option value="500">
								500 (muddy river)
							</option>
							<option value="other">
								Other Value...
							</option>
						</select>
					</div>
				</div>
				<div class="form-group hide" id="sediment-entry">
					<div class="col-sm-5"><label class="control-label" for="sediment-manual">Sediment (mg/L)</label></div>
					<div class="col-sm-5"><input type="text" class="form-control" id="sediment-manual"></div>
				</div>
				<div class="form-group" id="sea-state">
					<div class="col-sm-5"><label class="control-label" for="sea-height">Sea State (Wave Height)</label></div>
					<div class="col-sm-2"><input type="text" class="form-control" id="sea-height"></div>
					<div class="col-sm-3">
						<select class="form-control col-xs-8" id="height-units">
							<option value="m">
								Meters
							</option>
							<option value="ft">
								Feet
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>