
<div class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-sm-3">Name:</label>
        <div class="col-md-5">
            <input type="text" id="name" value="{{ name }}" class="form-control">
        </div>
    </div>
</div>


<ul class="nav nav-tabs wind">
    <li class="constant">
        <a href="#constant" data-toggle="tab">Constant Wind</a>
    </li>
    <li class="variable">
        <a href="#variable" data-toggle="tab">Variable Wind</a>
    </li>
    <li class="nws">
        <a href="#nws" data-toggle="tab">NWS Forecast</a>
    </li>
    <li class="upload_form">
        <a href="#upload_form" data-toggle="tab">Uploads</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="constant">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-horizontal">
                    <div class="form-group hidden">
                        <label for="constant-datetime" class="control-label col-md-5">Date &amp; Time:</label>                        
                        <div class="col-sm-7">
                            <div class="input-group date">
                                <input type="text" id="constant-datetime" class="form-control" value="{{constant_datetime}}">
                                <span class="input-group-addon" id="datepick">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="constant-direction" class="control-label col-md-5">Wind Direction:</label>
                        <div class="col-sm-4"><input type="text" id="constant-direction" value="{{timeseries[0][1][1]}}" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="constant-speed">Speed:</label>
                        <div class="col-sm-4"><input type="number" min="1" id="constant-speed" class="form-control col-xs-3" value="{{timeseries[0][1][0]}}"></div>
                        <div class="col-sm-6">
                            <select name="units" class="form-control col-xs-3">
                                <option value="m/s">meters / sec</option>
                                <option value="knots">knots</option>
                                <option value="mph">miles / hour</option>
                                <option value="km/h">kilometers / hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" id="speedlabel">Speed Uncertainty (Oil Weathering):</label>
                        </div>
                        <div class="col-sm-6">
                            <div class="slider"></div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-5 slider-label"><sup>Certain</sup></div>
                        <div class="col-sm-2 col-sm-offset-3 slider-label"><sup>Uncertain</sup></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="constant-compass" id="cc"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="variable">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="incrementer" class="control-label pull-right">Increment (hrs):</label>
                        </div>
                        <div class="col-sm-4">
                            <input id="incrementCount" type="number" value="6" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-danger pull-right clear-winds">
                    Clear All
                </a>
            </div>
            <div class="col-sm-9">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="units" class="control-label pull-right">Units:</label>
                        </div>
                        <div class="col-sm-4">
                            <select name="units" class="form-control" id="units">
                                <option value="m/s">meters / sec</option>
                                <option value="knots">knots</option>
                                <option value="mph">miles / hour</option>
                                <option value="km/h">kilometers / hour</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="form-horizontal">
                    <div class="form-group">

                        <div class="col-sm-5">
                            <label class="control-label pull-right" for="extrapolation-allowed">Extrapolate the Data:</label>
                        </div>

                        <div class="col-sm-4">
                            <label>
                            {% if (extrapolation_is_allowed) { %}
                                <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed" checked="checked">
                            {% } else { %}
                                <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed">
                            {% } %}
                            </label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-sm-12 table-wrapper">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date &amp; Time</th>
                            <th>
                                <div class="pull-left">Speed</div>
                                <div class="col-xs-7">
                                    <div class="units">
                                        {{ unit }}
                                    </div> 
                                </div>
                            </th>
                            <th>Direction (&deg; true)</th>
                            <th></th>
                        </th>
                    </thead>

                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Speed Uncertainty (Oil Weathering):</label>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="slider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 slider-label"><sup>Certain</sup></div>
            <div class="col-sm-3 col-sm-offset-1 slider-label"><sup>Uncertain</sup></div>
        </div>
    </div>
    
    <div class="tab-pane" id="nws">
        <p>Retrieve forecasted wind data from the National Weather Service (NWS). Select an area of ocean between any U.S. coastline and approximately 40-60 nm out to sea.</p>
        <div id="wind-form-map" class="map"></div>

        <form class="form-vertical">
        
            <div class="form-group">
                <label for="lon" class="col-sm-2 control-label">Longitude:</label>                  
                <div class="col-sm-4">
                    <input type="text" class="form-control lat_lon" name="lon" id="lon" title="165.4064W<br/>(decimal degrees)<br/>165 24.384W<br/>(degrees decimal minutes)<br/>165 24 23.04W<br/>(degrees minutes seconds)"/> 
                    <sup class="lon-parse"> </sup>                    
                </div>
            </div>
            
            <div class="form-group">
                <label for="lat" class="col-sm-2 control-label">Latitude:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control lat_lon" name="lat" id="lat" title="64.5011N<br/>(decimal degrees)<br/>64 30.066N<br/>(degrees decimal minutes) <br/>64 30 3.96N<br/>(degrees minutes seconds)"/>
                    <sup class="lat-parse"> </sup>                    
                </div>
            </div>           
        </form>
        <div>&nbsp;</div>
    </div>
    
    <div class="tab-pane" id="upload_form">
        <div class="dropzone"></div>
        <div>
            <label>
                <input type="checkbox" id="persist_upload">
                save file for later
            </label>
        </div>
    </div>
</div>