<ul class="nav nav-tabs">
    <li class="constant">
        <a href="#constant" data-toggle="tab">Constant Wind</a>
    </li>
    <li class="variable">
        <a href="#variable" data-toggle="tab">Variable Wind</a>
    </li>
    <li class="nws">
        <a href="#nws" data-toggle="tab">NWS Data</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="constant">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2"><label class="control-label" for="constant-speed">Speed:</label></div>
                        <div class="col-sm-4"><input type="number" min="1" id="constant-speed" class="form-control col-xs-3" value="{{timeseries[0][1][0]}}"></div>
                        <div class="col-sm-6">
                            <select name="units" class="form-control col-xs-3">
                                <option value="m/s">meters / sec</option>
                                <option value="knots">knots</option>
                                <option value="mph">miles / hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5"><label for="constant-direction" class="control-label">Wind Direction:</label></div>
                        <div class="col-sm-4"><input type="number" min="0" max="360" id="constant-direction" value="{{timeseries[0][1][1]}}" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Wind Speed Uncertainty:</label>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="slider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="constant-compass" id="cc"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="variable">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date &amp; Time</th>
                            <th>Speed</th>
                            <th>Direction</th>
                            <th></th>
                        </th>
                    </thead>

                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <label for="units" class="control-label pull-right">Time Series Speed Unit</label>
                </div>
                <div class="col-sm-3">
                    <select name="units" class="form-control" id="units">
                        <option value="m/s">meters / sec</option>
                        <option value="knots">knots</option>
                        <option value="mph">miles / hour</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-7">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="datetime" class="control-label pull-right">Date &amp; Time:</label>                        
                        </div>
                        <div class="col-sm-7">
                            <input type="text" id="datetime" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5"><label class="control-label pull-right" for="variable-speed">Speed:</label></div>
                        <div class="col-sm-4"><input type="number" min="1" id="variable-speed" class="form-control col-xs-3" value=""></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5"><label for="variable-direction" class="control-label pull-right">Wind Direction:</label></div>
                        <div class="col-sm-4"><input type="number" min="1" max="360" id="variable-direction" value="" class="form-control"></div>
                    </div>
                    <div class="row"><div class="col-sm-12"><hr></div></div>
                    <div class="form-group">
                        <div class="col-sm-4"><a href="#" class="btn btn-success add">Add Entry</a></div>
                        <div class="col-sm-5"><label for="incrementer" class="control-label pull-right">Inc. (hrs):</label></div>
                        <div class="col-sm-3"><input id="incrementCount" type="number" value="6" class="form-control"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="variable-compass" id="vc"></div>
            </div>
        </div>        
    </div>
    <div class="tab-pane" id="nws">
        <p>Retrieve historical or forecasted wind data from the National Weather Service (NWS). Select an area of ocean between any U.S. coastline and approximately 40-60 nm out to sea.</p>
        <div id="wind-form-map" class="map"></div>
    </div>
</div>