<form class="form-horizontal random-form" role="form">
	<div class="form-group">
		<div class="col-sm-3">Settings</div>
		<div class="col-sm-9"><hr></div>
	</div>

	<div class="form-group">
		<div class="col-sm-4" for="active">
			<input type="checkbox" name="active" value="on" id="active"> On
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3">Uncertainty</div>
		<div class="col-sm-9"><hr></div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="startTime">Start Time</label>
		<div class="col-sm-4"><input type="number" class="form-control" name="startTime" id="startTime" value="{{ active_start }}"></div><div class="col-sm-1 control-label">hours</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="duration">Max Duration</label>
		<div class="col-sm-4"><input type="number" class="form-control" name="duration" id="duration" value="{{ duration }}"></div><div class="col-sm-1 control-label">hours</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="speedScale">Speed Scale</label>
		<div class="col-sm-4"><input type="number" class="form-control" name="speedScale" id="speedScale" value="{{ speed_scale }}"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="angleScale">Angle Scale</label>
		<div class="col-sm-4"><input type="number" class="form-control" name="angleScale" id="angleScale" value="{{ angle_scale }}"></div>
		<div class="col-sm-3">
			<select class="form-control" id="angleUnits">
				<option value="radians">Radians</option>
				<option value="degrees">Degrees</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-4"><button class="windObj btn btn-primary">Wind Form</button></div>
	</div>
</form>