<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>ADIOS</h1>
            <p>ADIOS (Automated Data Inquiry for Oil Spills) is NOAA's oil weathering model. It's an oil spill response tool that models how different types of oil weather (undergo physical and chemical changes) in the marine environment.</p>
            <p>Working from a database of more than a thousand different crude oils and refined products, ADIOS quickly estimates the expected characteristics and behavior of spilled oil.</p>
        </div>
    </div>
    <div class="row input">
        <div class="col-md-6 col-md-offset-3">
            <div class="option substance">
                <div class="icon missing"></div>
                <div class="title">Oil/Substance</div>
                <p>Click to select the type of oil released</p>
            </div>
            <div class="option spills">
                <div class="icon {% if(spills){ %}missing {% } %}"></div>
                <div class="title">Spill</div>
                <p>Click to set the amount of oil released.</p>
            </div>
            <div class="option">
                <div class="icon missing"></div>
                <div class="title">Water</div>
                <p>Click to set water conditions</p>
            </div>
            <div class="option">
                <div class="icon missing"></div>
                <div class="title">Wind</div>
                <p>Click to set wind speed and direction</p>
            </div>
        </div>
    </div>

</div>
