<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>ADIOS</h1>
            <p>ADIOS (Automated Data Inquiry for Oil Spills) is NOAA's oil weathering model. It's an oil spill response tool that models how different types of oil weather (undergo physical and chemical changes) in the marine environment.</p>
            <p>Working from a database of more than a thousand different crude oils and refined products, ADIOS quickly estimates the expected characteristics and behavior of spilled oil.</p>
        </div>
    </div>
    <div class="row input">
        <div class="col-md-6 col-md-offset-3">
            <div class="option substance">
                <div class="icon {% if(!substance){ %}missing {% } %}"></div>
                <div class="title">Oil</div>
                {% if(substance){ %}
                    <div class="info col-sm-12">
                        <div class="item">
                            <div class="col-sm-6">
                                <label>Name: </label>
                                {{ substance.get('name') }}
                            </div>
                            <div class="col-sm-4">
                                <label>API: </label>
                                {{ substance.get('api').toFixed(1) }}
                            </div>
                        </div>
                    </div>
                {% } else { %}
                    <div class="col-sm-12"><p>Click to select the oil to release.</p></div>
                {% } %}
            </div>
            <div class="option spill">
                <div class="icon {% if(!spills.length > 0){ %}missing {% } %}"></div>
                <div class="title">Spill</div>
                {% if(spills.length > 0){ %}
                    <div class="col-md-12">
                    {% for (var i = 0; i < spills.length; i++){ %}
                        <div class="item" data-id="">
                            <div class="col-sm-6">
                                <label>Name: </label>
                                {{ spills[i].get('name') }}
                            </div>
                            <div class="col-md-4">
                                <label>Amount: </label>
                                {% var amount = spills[i].get('amount'); %}
                                {%     if(spills[i].get('amount_uncertainty_scale') > 0){ %}
                                {%        var value = spills[i].get('amount_uncertainty_scale'); %}
                                {%        var bottom = parseInt(Math.round((amount * (1 - value))), 10); %}
                                {%        if (bottom < 0) { %}
                                {%            bottom = 0; %}
                                {%        } %}
                                {%        var top = parseInt(Math.round((amount * (1 + value))), 10);     %}
                                {%        amount = bottom + ' - ' + top; %}
                                {%    } %}
                                {%    var units = spills[i].get('units'); %}
                                {%    var info = amount + ' ' + units; %}
                                <span class="label label-default amount">{{ info }}</span>
                            </div>
                        </div>
                    {% } %}
                    </div>
                {% } else { %}
                    <div class="col-sm-12"><p>Click to set the amount of oil released.</p></div>
                {% } %}
            </div>
            <div class="option water">
                <div class="icon {% if(!water){ %}missing {% } %}"></div>
                <div class="title">Water</div>
                {% if(water){ %}
                    <div class="col-md-12">
                        <div class="item">
                            <div class="col-md-6">
                                <label>Temperature: </label> 
                                {{ water.get('temperature') }} 
                                {% if (water.get('units').temperature !== 'K'){ %}
                                    &deg;
                                {% } %}
                                {{ water.get('units').temperature }}
                            </div>
                            <div class="col-md-6">
                                <label>Salinity: </label>
                                {{ water.get('salinity') }} {{ water.get('units').salinity }}
                            </div>
                            <div class="col-md-6">
                                <label>Sediment Load: </label>
                                {{ water.get('sediment') }} {{ water.get('units').sediment }}
                            </div>
                            {% if (!_.isNull(water.get('wave_height'))){  %}
                                <div class="col-md-6"><label>Wave Height: </label> {{ water.get('wave_height') }} {{ water.get('units').wave_height }}</div>
                            {% } %}
                            {% if (!_.isNull(water.get('fetch'))){ %}
                                <div class="col-md-6"><label>Fetch: </label> {{ water.get('fetch') }} {{ water.get('units').fetch }}</div>
                            {% } %}
                        </div>
                    </div>
                {% } else { %}
                    <div class="col-sm-12"><p>Click to set water conditions</p></div>
                {% } %}
            </div>
            <div class="option wind">
                <div class="icon {% if(!wind){ %}missing {% } %}"></div>
                <div class="title">Wind</div>
                {% if(wind){ %}
                    <div class="col-md-12">
                        <div class="item">
                            {% if(wind.get('timeseries').length > 1){ %}
                                <div class="col-md-12">
                                    <label>Timeseries:</label>
                                    {{ wind_from }} to {{ wind_to }}
                                </div>
                            {% } else { %}
                                <div class="col-md-6">
                                    <label>Speed</label>
                                    {{ wind.applySpeedUncertainty(wind.get('timeseries')[0][1][0]) }} {{ wind.get('units') }}
                                </div>
                                <div class="col-md-6">
                                    <label>Direction</label>
                                    {{ wind.get('timeseries')[0][1][1] }} &deg;
                                </div>
                            {% } %}
                        </div>
                    </div>
                {% } else { %}
                    <div class="col-sm-12"><p>Click to set wind speed and direction</p></div>
                {% } %}
            </div>
        </div>
    </div>
    <div class="row input">
        <div class="col-md-4 col-md-offset-4">
            <div class="seperator"></div>
        </div>
    </div>
    <div class="row input">
        <div class="col-md-6 col-md-offset-3">
            <div class="option disabled">
                <div class="icon optional"></div>
                <div class="title">Response Options</div>
                <div class="col-sm-12"><p>Click to add a response option for oil removal/recovery.</p></div>
            </div>
        </div>
    </div>

</div>
