<div class="main">
    <h1>Welcome to ADIOS!</h1>
    <p>ADIOS (Automated Data Inquiry for Oil Spills) is NOAA's oil weathering model. It's an oil spill response tool that models how different types of oil weather (undergo physical and chemical changes) in the marine environment.</p>
    <p>Working from a database of more than a thousand different crude oils and refined products, ADIOS quickly estimates the expected characteristics and behavior of spilled oil.</p>

    {% if(hasModel){ %}<p><a href="" class="resume">Resume Active Model</a></p> {% } %}
    <h3>Getting Started</h3>
    <p><a href="#" class="build">Build Your Own Model</a> <a href="#" class="load">Load a Saved Model</a></p>
</div>
<div class="side">
    <img src="http://placehold.it/250">
</div>
