<div class="dz-preview dz-file-preview">
    <div class="dz-error-message">
        <span data-dz-errormessage></span>
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-filename"><span data-dz-name></span> <div class="dz-size" data-dz-size></div></div>
    <div class="dz-loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>