<div class="container">
    <div class="col-md-1">
        <img src="/img/NOAA_logo.svg">
    </div>
    <div class="col-md-10">
        <ul class="nav nav-pills">
            <li><a href="http://www.commerce.gov/" target="_blank">US DOC</a></li>
            <li><a href="http://www.noaa.gov" target="_blank">NOAA</a></li>
            <li><a href="http://oceanservice.noaa.gov/" target="_blank">NOS</a></li>
            <li><a href="http://response.restoration.noaa.gov/" target="_blank">NOAA Office of Response &amp; Restoration</a></li>
            <li><a href="#" class="disclaimer">Disclaimer</a></li>
            <li><a href="#" class="privacy">Privacy Policy</a></li>
            <li class="pull-right"><a href="#" class="help"><span> </span> Help, I'm stuck!</a></li>
        </ul>
    </div>
</div>