<div class="main">
    <h1>Welcome to GNOME!</h1>
    <p>GNOME (General NOAA Operational Modeling Environment) is the modeling tool the Office of Response and Restoration's (OR&amp;R) Emergency Response Division uses to predict the possible route, or trajectory, a pollutant might follow in or on a body of water, such as in an oil spill.</p>

    {% if(hasModel){ %}<p><a href="" class="resume">Resume Active Model</a></p> {% } %}
    <h3>Getting Started</h3>
    <p><a href="" class="location">Load a Location</a> <a href="" class="build">Build Your Own Model</a> <a href="" class="load">Load a Saved Model</a></p>
</div>
<div class="side">
    <img src="img/intro.png">
</div>
