<div class="intro">
    <div class="container">
    
        <div class="row">
            <div class="title">
                <img class="webgnome_logo" src="img/WebGNOME_logo_short.png"> (BETA)
            </div>
        </div>

        <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>About</h4>
                        </div>
                        <div class="panel-footer">
                            <p>
                            WebGNOME is a publicly available oil spill trajectory and fate model that simulates oil movement
                            and weathering due to winds and currents. WebGNOME was developed by the NOAA Office of Response
                            and Restoration (OR&amp;R) Emergency Response Division for use in oil spill response.</p>
                            <p>
                            To use WebGNOME, you describe a spill scenario by entering information into the program and
                            potentially uploading files with ocean currents, wind forecasts, and shoreline information.
                            For examining the fate of spilled oil, a specific oil can be selected from a database
                            containing hundreds of different crude oils and refined products. Select from various start-up modes below depending on your spill scenario.</p>  
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="panel-footer">
                            <ul>                            
                            <li><a href="https://response.restoration.noaa.gov/oil-and-chemical-spills/oil-spills/response-tools/gnome-suite-oil-spill-modeling.html"  target="_blank">
                            <strong>Learn more about NOAA's oil spill modeling tools.</strong></a></li>
                            <li><a href="https://gnome.orr.noaa.gov/goods"  target="_blank">
                            <strong>Find currents and wind data to use in GNOME.</strong></a></li>
                            <li><a href="https://github.com/NOAA-ORR-ERD/PyGnome"  target="_blank">
                            <strong>Run advanced simulations using a Python scripting interface (PyGNOME).</strong></a></li>
                            <li><a href="https://response.restoration.noaa.gov/oil-and-chemical-spills/oil-spills/response-tools/gnome.html"  target="_blank">
                            <strong>Download the Desktop GNOME (legacy version).</strong></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="main">
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Get Started</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Learn which startup mode is right for you or find information about specific features in the
                        WebGNOME User Manual. </p>
                        <a href="#" class="doc btn btn-warning btn-block"><span class="glyphicon glyphicon-question-sign"> </span> WebGNOME User Manual</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Location Files</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Choose from 27 different Location Files, which contain pre-packaged information about tides,
                        currents, and shorelines for the region.</p>
                        <!-- <a href="#" class="gnome-wizard btn btn-primary btn-block"><span class="glyphicon glyphicon-flash"> </span> GNOME Wizard</a> -->
                        <a href="#" class="location btn btn-primary btn-block"><span class="glyphicon glyphicon-map-marker"> </span> Load a Location</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Custom Location</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Create a custom scenario by uploading shoreline, winds, and/or current data.
                        Learn more in the WebGNOME User Manual. </p>
                        <a href="#" class="advanced btn btn-primary btn-block"><span class="glyphicon glyphicon-wrench"> </span> Manual Setup</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Load</h4>
                    </div>
                    <div class="panel-footer">
                        <p>
                        Load a previously saved WebGNOME scenario.
                        </p>
                        <div class="load"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Weathering Only</h4>
                    </div>
                    <div class="panel-footer">
                        <p>WebGNOME supports scenarios that consider only the weathering of the oil (similar to the previous NOAA ADIOS model).
                        Use this startup wizard to quickly estimate an oil budget without entering details on the incident location or currents.</p>
                        <a href="#" class="adios-wizard btn btn-primary btn-block"><span class="glyphicon glyphicon-tint"> </span> Oil Fate Wizard</a>
                    </div>
                </div>
            </div>
           <!-- <div class="col-md-4"> -->
                <!-- <div class="panel panel-default"> -->
                    <!-- <div class="panel-body"> -->
                        <!-- <h4>Response Options Calculator</h4> -->
                    <!-- </div> -->
                    <!-- <div class="panel-footer"> -->
                        <!-- <p>Use the Response Options Calculator (ROC) wizard in WebGNOME to include -->
                        <!-- assessment of the performance of response operations including mechanical recovery systems, -->
                        <!-- dispersant application, and/or the in situ burning of oil.</p> -->
                        <!-- <a href="#" class="btn btn-primary btn-block roc"><span class="glyphicon glyphicon-fire"> </span> ROC Wizard</a> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->

          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>ADIOS Oil Database</h4>
                  </div>
                  <div class="panel-footer">
                      <p>The ADIOS Oil Database includes physical and chemical properties for hundreds of oils.
                      Oils can be selected and downloaded from this database for use in WebGNOME. Use this link to browse the oil
                      database. </p>
                      <a href="#" class="btn btn-primary btn-block oillib"><span class="glyphicon glyphicon-th-list"> </span> Oil Library</a>
                  </div>
              </div>
         </div>
         <div class="col-md-4">
             <div class="panel panel-default">
                 <div class="panel-body">
                     <h4>GOODS/OFS</h4>
                 </div>
                 <div class="panel-footer">
                     <p>Quickly setup a GNOME model using an Operational Forecast System, or subset and download data for other purposes
                        
                     </p>
                     <a href="#" class="ofs btn btn-primary btn-block"><span class="glyphicon glyphicon-th-list"> </span> Enter GOODS</a>
                 </div>
             </div>
         </div>
    </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    The WebGNOME application is a draft working product distributed solely for
                    pre-dissemination peer review under applicable information quality guidelines.
                    It should not be used for any other purpose. It has not been formally released
                    and does not represent, and should not be construed to represent,
                    the official forecast of NOAA on spill behavior. It is under active development, and may be unavailable or unstable at any time.
                </div>
            </div>
        </div>
        
    </div>
</div>
