<div class="intro">
    <div class="container">
        <div class="title">
            <h1>GNOME ALPHA</h1>
        </div>

        <div class="main">
            <div class="alert alert-danger">
                <strong>This is application is in alpha!</strong><br />Everything you see here is subject to error, impracticality, and change.
            </div>
            <p>GNOME is an application developed internally by the National Ocean Service's Emergency Response Division to help predict how oil will behave in a marine environment.</p>
        </div>
        <div class="side">
            <a href="" class="btn btn-primary setup">Setup a Model</a>
        </div>
    </div>
</div>

<!--<div class="footer container">
    <div class="main">
        [[ insert regulation NOAA footer here. ]]
    </div>
</div>-->
