<div class="intro">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>GNOME/ADIOS ALPHA</h1>
            </div>
        </div>
        <div class="row">
            <div class="main">
                <div class="alert alert-danger">
                    This software is a draft working product distributed solely for pre-dissemination peer review under applicable information quality guidelines. It should not be used for any other purpose. It has not been formally released and does not represent, and should not be construed to represent, the official forecast of NOAA on spill behavior.
                </div>

                <p>
                    <strong>GNOME</strong> (General NOAA Operational Modeling Environment) is a modeling tool used to predict the possible route, or trajectory, a pollutant might follow in or on a body of water. It has now been integrated with <strong>ADIOS</strong> (Automated Data Inquiry for Oil Spills) an oil weathering model that predicts how different types of oil undergo physical changes in the marine environment.
                </p>

                <p>
                    The GNOME/ADIOS suite supports different user needs and experience levels by choosing among the options below
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Weathering Only</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Use the ADIOS wizard to get started modeling weathering of different oils, to estimate the oil budget, or to examine the impact of different response options.</p>
                        <a href="#" class="adios-wizard btn btn-primary btn-block"><span class="glyphicon glyphicon-flash"> </span> ADIOS Wizard</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Location Files</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Choose from available locations which are already set up with shoreline, tide, and current data. These files represent typical or climatological conditions for the region.</p>
                        <!-- <a href="#" class="gnome-wizard btn btn-primary btn-block"><span class="glyphicon glyphicon-flash"> </span> GNOME Wizard</a> -->
                        <a href="#" class="location btn btn-info btn-block"><span class="glyphicon glyphicon-map-marker"> </span> Load a Location</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Custom Location</h4>
                    </div>
                    <div class="panel-footer">
                        <p>Set up custom locations by uploading shoreline, winds, and/or currents data in supported file formats.</p>
                        <a href="#" class="advanced btn btn-warning btn-block"><span class="glyphicon glyphicon-wrench"> </span> Advanced Mode</a>
                        <a href="/goods" class=" btn btn-warning btn-block"><span class="glyphicon glyphicon-globe"> </span> GOODS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Load</h4>
                    </div>
                    <div class="panel-footer">
                        <div class="load"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
</div>
