<div class="navbar-header">
    <a class="navbar-brand" href="#" title="Return to WebGNOME startup page">
    <img class="navbar-gnome-icon" src="img/GNOME_favicon_32x32.png">WebGNOME</a>
</div>

<div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" title="" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> New <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="locations" title="">Select a Location File</a></li>
                <li><a href="#" class="adios" title="">Oil Fate Wizard</a></li>
                <li><a href="#" class="setup" title="">Manual Setup</a></li>
                <li><a href="#" class="load" title="">Load Saved Model Setup</a></li>
            </ul>
        </li>

        <li class="dropdown views">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> Views <b class="caret"></b></a>
            <ul class="dropdown-menu view-menu">
                <li><a href="#" class="view config" title=""><span class="glyphicon glyphicon-pencil"> </span> Setup View</a></li>
                <li><a href="#" class="view trajectory" title=""><span class="glyphicon glyphicon-globe"> </span> Map View</a></li>
                <li><a href="#" class="view fate" title=""><span class="glyphicon glyphicon-stats"> </span> Fate View</a></li>
                <!-- <li><a href="#" class="view response" title=""><span class=""> </span> Response View</a></li> -->
                <li><a href="#" class="view model" title=""><span class=""> </span> Model View</a></li>

            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=""><span class="glyphicon glyphicon-floppy-save"></span> Save <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="save" title="">Download Your Model Setup</a></li>
                {% if(can_persist) { %}
                <li><a href="#" class="persist" title="">Save Model Setup on Server</a></li>
                {% } %}     
                <li><hr></li>
                <li><a href="#" class="export">Export Particles</a></li>
            </ul>
        </li>


        <li class="dropdown help">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign"></span> Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="about" title=""><span class="g"> </span> About WebGNOME</a></li>
                <li><a href="#" class="changeLog" title=""><span class="g"> </span> Recent Updates</a></li>
                <li><a href="#" class="doc" title=""><span class=""> </span> Open User Manual</a></li>
                <!-- <li><a href="#" class="faq" title=""><span class=""> </span> Search by Topic</a></li> -->
                <li><a href="#" class="hotkeys" title=""><span class=""> </span> Keyboard Shortcuts</a></li>
                <li><a href="#" class="toggleLogger" title=""><span class=""> </span> Show/hide Logger</a></li>
            </ul>
        </li>


    </ul>

    <div class="view-toggle">
        <div class="toggle">
            <div title='Setup View' class="view config"></div>
            <div title='Map View' class="view trajectory"></div>
            <div title='Fate View' class="view fate"></div>
            <div class="switch"></div>
        </div>
    </div>

<!--     <div class="btn-group menu-button export">
        <a class="btn btn-default export dropdown-toggle" data-toggle="dropdown">Export <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" class="netcdf">NetCDF</a></li>
            <li><a href="#" class="kmz">KMZ</a></li>
            <li><a href="#" class="shape">Shapefile</a></li>
        </ul>
    </div> -->
</div>

