<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">GNOME/ADIOS</a>
    <!-- <ul class="nav navbar-nav">
        <li class="drodown">
            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Home</a>
            <ul class="dropdown-menu">
                <li><a href="" class="home">Home</a></li>
                <li><a href="" class="gnome">GNOME</a></li>
                <li><a href="" class="adios">ADIOS</a></li>
            </ul>
        </li>
    </ul>
 --></div>

<div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <li class="dropdown model">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Model <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="new" title="Create a new model">New</a></li>
                <li><a href="#" class="edit" title="Edit your current model">Edit</a></li>
                <li><a href="#" class="load" title="Load a model from a save file">Load From File</a></li>
                <li><a href="#" class="locations" title="Create a new model based on a location">Load a Location</a></li>
                <li><a href="#" class="save" title="Save your current model">Save</a></li>
                <li><a href="#" class="debugView" title="View the full model tree"><input type="checkbox" id="debugView">&nbsp;<label for="debugView">Debug Model View</label></a></li>
            </ul>
        </li>

        <!--<li class="dropdown actions">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="run">Run</a></li>
                <li><a href="#" class="step">Step</a></li>
                <li><a href="#" class="run-until">Run Until...</a></li>
            </ul>
        </li> -->

        <li class="dropdown help">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="about" title="About GNOME">About</a></li>
                <li><a href="#" class="tutorial" title="GNOME Tutorial">Tutorial</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li><a href="#" class="app-menu-link"><span></span></a></li>
    </ul>
    <div class="app-menu" tabindex="99">
        <div class="tail"></div>
        <div class="tail-border"></div>
        

        <div class="app home">
            <img src="img/home.png">
            <p>Home</p>
        </div>
        <div class="app gnome">
            <img src="img/gnome.png">
            <p>GNOME</p>
        </div>
        <div class="app adios">
            <img src="img/adios.png">
            <p>ADIOS</p>
        </div>
    </div>
    <div class="app-menu-close"></div>
</div>
 