<div class="navbar-header">
<!--     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand" href="#" title="Return to WebGNOME startup page">
    <img class="navbar-gnome-icon" src="img/GNOME_favicon_32x32.png">WebGNOME</a>
</div>

<div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" title="" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> New <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="locations" title="">Select a Location File</a></li>
                <li><a href="#" class="adios" title="">Oil Fate Wizard</a></li>
                <li><a href="#" class="setup" title="">Manual Setup</a></li>
                <li><a href="#" class="load" title="">Load Save File</a></li>
            </ul>
        </li>



            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=""><span class="glyphicon glyphicon-floppy-save"></span> Save<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="save" title="">Download your current model setup</a></li>
                    {% if(can_persist) { %}
                    <li><a href="#" class="persist" title="">Save model setup on server</a></li>
                    {% } %}     
                    <li><hr></li>
                    <li><a href="#" class="netcdf">Export particles as NetCDF</a></li>
                    <li><a href="#" class="kmz">Export particles as KMZ</a></li>
                    <li><a href="#" class="shape">Export particles as Shapefile</a></li>
                </ul>
            </li>



        <li class="dropdown help">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="about" title=""><span class="glyphicon glyphicon-info-sign"> </span> About WebGNOME</a></li>
                <li><a href="#" class="doc" title="Open WebGNOME Help Pages"><span class="glyphicon glyphicon-file"> </span> User Manual</a></li>
                <li><a href="#" class="faq" title="Search Help by Topic"><span class="glyphicon glyphicon-question-sign"> </span> Search</a></li>
                <li><a href="#" class="hotkeys" title="Trajectory Hotkeys"><span class="glyphicon glyphicon-th-list"> </span> Hotkeys</a></li>
            </ul>
        </li>

        <li class="dropdown views">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views <b class="caret"></b></a>
            <ul class="dropdown-menu view-toggle">
                <li><a href="#" class="view config" title="Model configuration"><span class="glyphicon glyphicon-info-sign"> </span> Config</a></li>
                <li><a href="#" class="view trajectory" title="Trajectory output"><span class="glyphicon glyphicon-file"> </span> Trajectory</a></li>
                <li><a href="#" class="view fate" title="Weathering output"><span class="glyphicon glyphicon-question-sign"> </span> Fate</a></li>
                <li><a href="#" class="view model" title="Model object relationships (adv)"><span class="glyphicon glyphicon-th-list"> </span> Model Object</a></li>
                <li><a href="#" class="view response" title="ROC response (adv, beta)"><span class="glyphicon glyphicon-th-list"> </span> ROC</a></li>
            </ul>
        </li>
    </ul>

    <div class="view-toggle">
        <div class="toggle">
            <div title='Setup View' class="view config"></div>
            <div title='Map View' class="view trajectory"></div>
            <div title='Fate View' class="view fate"></div>
            <div class="switch"></div>
        </div>
    </div>

<!--     <div class="btn-group menu-button export">
        <a class="btn btn-default export dropdown-toggle" data-toggle="dropdown">Export <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#" class="netcdf">NetCDF</a></li>
            <li><a href="#" class="kmz">KMZ</a></li>
            <li><a href="#" class="shape">Shapefile</a></li>
        </ul>
    </div> -->
</div>

