<thead>
    <tr>
        <th class="name">Name</th>
        <th class="location">Location</th>
        <th class="field_name">Field Name</th>
        <th class="oil_class">Oil Class</th>
        <th class="product_type">Product Type</th>
        <th class="api">API</th>
    </tr>
</thead>
<tbody>
    {% for (var i = 0; i < data.length; i++){ %}
    <tr>
        <td>{{ data.at(i).get('name') }}</td>
        <td>{{ data.at(i).get('location') }}</td>
        <td>{{ data.at(i).get('field_name') }}</td>
        <td>{{ data.at(i).get('oil_class') }}</td>
        <td>{{ data.at(i).get('product_type') }}</td>
        <td>{{ data.at(i).get('api') }}</td>
    </tr>
    {% } %}
</tbody>