<div class="container">
    <div class="row">
        <div class="col-md-8">
        	<h1>GNOME &amp; ADIOS Overview</h1>

            <p>GNOME (General NOAA Operational Modeling Environment) and ADIOS (Automated Data Inquiry for Oil Spills) are modeling tools the Office of Response and Restoration's (OR&amp;R) Emergency Response Division uses to predict the fate (how the oil weathers or undergoes physical and chemical changes) and transport (trajectory) a pollutant might follow in or on a body of water, such as in an oil spill.</p>

            <p>In this version, GNOME and ADIOS are integrated, so that a user can compute both the fate transport of a pollutant at the same time. In addition, either can be computed independently as the situation warrants.</p>

            <p>For transport, a set of locations are provided for transport calculations, with the land boundaries and currents pre-defined. For fate of spilled oil, a database containing hundreds of different crude oils and refined products is provided.</p>

            <p>This software is a draft working product distributed solely for pre-dissemination peer review under applicable information quality guidelines. It should not be used for any other purpose. It has not been formally released and does not represent, and should not be construed to represent, the official forecast of NOAA on spill behavior.</p>

            <p>For more information about ERD, our modeling products, and the currently released versions, please refer to: <a href="http://response.restoration.noaa.gov/oil-and-chemical-spills/oil-spills/response-tools/response-tools-oil-spills">http://response.restoration.noaa.gov/oil-and-chemical-spills/oil-spills/response-tools/response-tools-oil-spills</a>.</p>
            <br /><br />
        </div>
    </div>
</div>