<h4>{{ data.name }}</h4>
<div>
	<div><label>Distillation Cuts' Units:</label> {{ data.cut_units }}</div>
	<div><label>Reference:</label> {{ data.reference }}</div>
	<div><label>Adios Oil ID:</label> {{ data.adios_oil_id }}</div>
	<div><label>Location:</label> {{ data.location }}</div>
	<div><label>Field Name:</label> {{ data.field_name }}</div>
	<div><label>Resins:</label> {{ data.resins }}</div>
	<div><label>Maximum Flash Point:</label> {{ data.flash_point_max }}</div>
	<div><label>Maximum Flash Point Indicator:</label> {{ data.flash_point_max_indicator }}</div>
	<div><label>Minimum Flash Point:</label> {{ data.flash_point_min }}</div>
	<div><label>Minimum Flash Point Indicator:</label> {{ data.flash_point_min_indicator }}</div>
	<div><label>Pour Point Minimum:</label> {{ data.pour_point_min }}</div>
	<div><label>Pour Point Maximum:</label> {{ data.pour_point_max }}</div>
	<div><label>API:</label> {{ data.api }}</div>
	<div><label>Maximum Emulsification Constant:</label> {{ data.emuls_constant_max }}</div>
	<div><label>Minimum Emulsification Constant:</label> {{ data.emuls_constant_min }}</div>
	<div><label>Benezene:</label> {{ data.benezene }}</div>
	<div><label>Aromatics:</label> {{ data.aromatics }}</div>
	<div><label>Dispersability Temperature:</label> {{ data.dispersability_temp }}</div>
	<div><label>Nickel:</label> {{ data.nickel }}</div>
	<div><label>Oil Class:</label> {{ data.oil_class }}</div>
	<div><label>Oil to Seawater Interfacial Tension:</label> {{ data.oil_seawater_interfacial_tension }}</div>
	<div><label>Oil to Seawater Interfacial Tension Reference Temperature:</label> {{ data.oil_seawater_interfacial_tension_ref_temp }}</div>
	<div><label>Oil to Water Interfacial Tension:</label> {{ data.oil_water_interfacial_tension }}</div>
	<div><label>Oil to Water Interfacial Tension Reference Temperature:</label> {{ data.oil_water_interfacial_tension_ref_temp }}</div>
	<div><label>Paraffins:</label> {{ data.paraffins }}</div>
	<div><label>Polars:</label> {{ data.polars }}</div>
	<div><label>Preferred Oils:</label> {{ data.preferred_oils }}</div>
	<div><label>Product Type:</label> {{ data.product_type }}</div>
	<div><label>Reid Vapor Pressure:</label> {{ data.reid_vapor_pressure }}</div>
	<div><label>Saturates:</label> {{ data.saturates }}</div>
	<div><label>Sulphur:</label> {{ data.sulphur }}</div>
	<div><label>Vanadium:</label> {{ data.vanadium }}</div>
	<div><label>Viscosity Multiplier:</label> {{ data.viscosity_multiplier }}</div>
	<div><label>Water Content Emulsion:</label> {{ data.water_content_emulsion }}</div>
	<div><label>Wax Content:</label> {{ data.wax_content }}</div>
	<div><label>KOY:</label> {{ data.koy }}</div>
</div>