<h4>{{ data.name }}</h4>
<div>
	<div>Distillation Cuts' Units: {{ data.cut_units }}</div>
	<div>Reference: {{ data.reference }}</div>
	<div>Adios Oil ID: {{ data.adios_oil_id }}</div>
	<div>Location: {{ data.location }}</div>
	<div>Field Name: {{ data.field_name }}</div>
	<div>Resins: {{ data.resins }}</div>
	<div>Maximum Flash Point: {{ data.flash_point_max }}</div>
	<div>Maximum Flash Point Indicator: {{ data.flash_point_max_indicator }}</div>
	<div>Minimum Flash Point: {{ data.flash_point_min }}</div>
	<div>Minimum Flash Point Indicator: {{ data.flash_point_min_indicator }}</div>
	<div>Pour Point Minimum: {{ data.pour_point_min }}</div>
	<div>Pour Point Maximum: {{ data.pour_point_max }}</div>
	<div>API: {{ data.api }}</div>
	<div>Maximum Emulsification Constant: {{ data.emuls_constant_max }}</div>
	<div>Minimum Emulsification Constant: {{ data.emuls_constant_min }}</div>
	<div>Benezene: {{ data.benezene }}</div>
	<div>Aromatics: {{ data.aromatics }}</div>
	<div>Dispersability Temperature: {{ data.dispersability_temp }}</div>
	<div>Nickel: {{ data.nickel }}</div>
	<div>Oil Class: {{ data.oil_class }}</div>
	<div>Oil to Seawater Interfacial Tension: {{ data.oil_seawater_interfacial_tension }}</div>
	<div>Oil to Seawater Interfacial Tension Reference Temperature: {{ data.oil_seawater_interfacial_tension_ref_temp }}</div>
	<div>Oil to Water Interfacial Tension: {{ data.oil_water_interfacial_tension }}</div>
	<div>Oil to Water Interfacial Tension Reference Temperature: {{ data.oil_water_interfacial_tension_ref_temp }}</div>
	<div>Paraffins: {{ data.paraffins }}</div>
	<div>Polars: {{ data.polars }}</div>
	<div>Preferred Oils: {{ data.preferred_oils }}</div>
	<div>Product Type: {{ data.product_type }}</div>
	<div>Reid Vapor Pressure: {{ data.reid_vapor_pressure }}</div>
	<div>Saturates: {{ data.saturates }}</div>
	<div>Sulphur: {{ data.sulphur }}</div>
	<div>Vanadium: {{ data.vanadium }}</div>
	<div>Viscosity Multiplier: {{ data.viscosity_multiplier }}</div>
	<div>Water Content Emulsion: {{ data.water_content_emulsion }}</div>
	<div>Wax Content: {{ data.wax_content }}</div>
</div>