<div class="container no-weathering">
    <div class="row">
        <div class="col-md-12">
            <h1>More Information Needed to Compute Oil Weathering</h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <p>The following requirements must be met before the model can produce oil fate results. NOTE: if all
            the items are present, then there may be a mismatch in the time span of the data and/or spill relative 
            to the model run time.</p>
            <div class="well">
                <ul>
                    <li class="spill"><span> </span> One or more spills are provided <a class="btn btn-link select">Set Spill</a></li>
                    <li class="substance"><span> </span> Oil type (from oil library) needs to be selected <a class="btn btn-link select">Set Oil</a></li>
                    <li class="water"><span> </span> Water conditions need to be specified <a class="btn btn-link select">Set Water Properties</a></li>
                    <li class="wind"><span> </span> One or more winds are provided <a class="btn btn-link select">Set Wind Properties</a></li>
                    {% if (!no_wind) { %}
                    <li class="wind_mover"><span> </span> Wind mover must be active  <a class="btn btn-link select">Set Wind Properties</a> <a class="label label-info attached-wind">{{ wind_name }}</a></li>
                    {% } %}
                </ul>
            </div>
        </div>
    </div>
</div>


