<div class="container no-weathering">
    <div class="row">
        <div class="col-md-12">
            <h1>No Weathering Data</h1>
        </div>
        <div class="col-md-5">
            <p>The following requirements must be met before the model can produce oil fate results.</p>
            <div class="well">
                <ul>
                    <li class="spill"><span> </span> One or more spills are provided.</li>
                    <li class="substance"><span> </span> Oil type (from oil library) needs to be selected: <a class="select">Select</a></li>
                    <li class="water"><span> </span> Water conditions need to be specified: <a class="select">Select</a></li>
                    <!--<li class="model"><span> </span> The model has weathering turned on.</li>-->
                    <li class="weatherers"><span> </span> There are weatherers that are turned on.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


