
<div class="form-group">
	<label class="col-sm-5 control-label" for="start_time">Output Start Time:</label>
	<div class="input-group date col-sm-5">
		<input type="text" class="form-control" value="{{ start_time }}">
		<span class="input-group-addon">
			<i></i>
		</span>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label" for="time_step">Output Time Step Length:</label>
	<div class="col-sm-3">
		<input type="number" min="0" class="form-control" value="{{ time_step }}">
	</div>
	<div class="col-sm-3">
		<select class="form-control">
			<option value="s">
				s
			</option>
			<option value="min">
				min
			</option>
			<option value="hr">
				hr
			</option>
		</select>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label" for="output_zero_step">Output Initial Positions:</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="output_zero_step" {% if (output_zero_step){ %} checked {% } %}>
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label" for="output_last_step">Output Final Positions:</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="output_last_step" {% if (output_last_step){ %} checked {% } %}>
		</label>
	</div>
</div>