
<div class="form-group">
	<label class="col-sm-5 control-label" for="start_time">Output Start Time:</label>
	<div class="col-sm-5">
		<input type="text" name="start_time" id="start_time" class="form-control" value="{{ start_time }}">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label" for="output_timestep_hrs">Output Time Step (hours):</label>
	<div class="col-sm-5">
		<input type="number" name="output_timestep_hrs" min="0" class="form-control" value="{{ output_timestep }}">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-6 control-label" for="output_zero_step">Output Initial Positions:</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="output_zero_step" {% if (output_zero_step){ %} checked {% } %}>
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-6 control-label" for="output_last_step">Output Final Positions:</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="output_last_step" {% if (output_last_step){ %} checked {% } %}>
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-6 control-label" for="output_single_step">Output Positions at Single Time:</label>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="output_single_step" {% if (output_single_step){ %} checked {% } %}>
		</label>
	</div>
</div>