<div class="toggle">
    Logging

    <div class="close">
        &times;
    </div>
    <div class="info">
        <div class="error"><div class="count"></div><span> </span></div>
        <div class="warning"><div class="count"></div><span> </span></div>
    </div>
</div>

<div class="window gnome webgnome_api misc">
    <div class="view"><a href="#gnome" class="active">py_gnome</a> <a href="#webgnome_api" class="active">webgnome_api</a> <a href="#misc" class="active">misc</a><a href="#clear" class="pull-right"><span class="clear"></span></a><a href="#error" class="pull-right filters">errors</a><a href="#warni" class="pull-right filters">warnings</a></div>
    <ul class="logs">
    </ul>
</div>