<p>
WebGNOME is a publicly available oil spill trajectory and fate model that simulates oil movement and weathering due to winds and currents. WebGNOME was developed by the NOAA Office of Response and Restoration (OR&R) Emergency Response Division for use in oil spill response.</p>
<p>
The WebGNOME application is a draft working product distributed solely for pre-dissemination peer review under applicable information quality guidelines. It should not be used for any other purpose. It has not been formally released and does not represent, and should not be construed to represent, the official forecast of NOAA on spill behavior. It is under active development, and may be unavailable or unstable at any time.</p>
Support Email:<br />
<a href="mailto:{{ email }}">{{ email }}</a>