<b>September 2021 Updates</b>

<ul>
<li>A change to the workflow for loading oils has been implemented. To model oil weathering processes, the necessary oil information can be downloaded from the <a href="http://adios.orr.noaa.gov" target="_blank"> NOAA ADIOS Oil Database</a>. This database is maintained by NOAA and that data is currently undergoing QA/QC. There is a "GNOME Suitable" flag which indicates which oils have sufficient data to be used for weathering algorithms. The data format is JSON which can be read with any text editor. Users can now also write their own custom JSON files with oil properties for use in WebGNOME.</li>

<li>Spills can now be initialized directly from <a href="https://www.ospo.noaa.gov/Products/ocean/marinepollution/" target="_blank">
NOAA/NESDIS Marine Pollution Surveillance Reports</a> or other shapefiles containing valid polygons. Individual polygons can contain differential amounts of particles representing different thickness classifications.
</li>

</ul>
