<b>April 2023 Updates</b>

<ul>
<li> An option to work directly with output from operational ocean and atmospheric models has been implemented. This accesses and downloads model output from remote servers and is dependent on the state of those external servers (i.e., download times may vary). This option is also under active development and is still being tested.</li>
<li> The Point Wind and Gridded Wind panels have been combined -- either option can be chosen when adding a new wind to the model.
</ul>

<b>January 2023 Updates</b>

<ul>
<li>New Location Files for the Panama Canal region have been developed and added. See the Location Files page to access.</li>
</ul>

<b>April 2022 Updates</b>

<ul>
<li>Added option to generate custom maps from Setup View. This option can be accessed when creating a new map, select the "Custom Shoreline" option and choose from available shoreline databases for your region of interest.</li>
</ul>

<b>October 2021 Updates</b>

<ul>
<li>A change to the workflow for loading oils has been implemented. To model oil weathering processes, the necessary oil information can be downloaded from the <a href="http://adios.orr.noaa.gov" target="_blank"> NOAA ADIOS Oil Database</a>. This database is maintained by NOAA and that data is currently undergoing QA/QC. There is a "GNOME Suitable" flag which indicates which oils have sufficient data to be used for weathering algorithms. The data format is JSON which can be read with any text editor. Users can now also write their own custom JSON files with oil properties for use in WebGNOME.</li>

<li>Spills can now be initialized directly from <a href="https://www.ospo.noaa.gov/Products/ocean/marinepollution/" target="_blank">
NOAA/NESDIS Marine Pollution Surveillance Reports</a> or other shapefiles containing valid polygons. Individual polygons can contain differential amounts of particles representing different thickness classifications.
</li>

</ul>
