<div class="hotkeys">
    <div class="keyboardlist">
        <ul class="list-unstyled">
            <li class="keylabel">
                <span class="spacebar">space</span>
                <div class="col-sm-6">
                    Play/Pause
                </div>
            </li>
            <li class="keylabel">
                <span class="arrows">&rarr;</span>
                <div class="col-sm-6">
                    Next Time Step
                </div>
            </li>
            <li class="keylabel">
                <span class="arrows">&larr;</span>
                <div class="col-sm-6">
                    Rewind
                </div>
            </li>
        </ul>
    </div>
</div>