<div class="hotkeys col-sm-12">
    <ul class="list-unstyled">
        <li class="keylabel col-sm-12">
            <span class="keys spacebar col-sm-4">space</span>
            <div class="col-sm-4 labels">Play/Pause</div>
        </li>
        <li class="keylabel col-sm-12">
            <span class="keys col-sm-4">&rarr;</span>
            <div class="col-sm-8 labels">Next Time Step</div>
        </li>
        <li class="keylabel col-sm-12">
            <span class="keys col-sm-6">&larr;</span>
            <div class="col-sm-6 labels">Rewind</div>
        </li>
    </ul>
</div>