<div id="specificOilContainer"> 
    <div class="row">
    	<div class="col-md-12">
    		<h4>{{ data.name }}</h4>
    	</div>
    </div>
    <div>

    	<ul class="nav nav-tabs" id="oiltabs">
    	    <li class="generalinfo active">
    	        <a href="#generalinfo" data-toggle="tab">General Info</a>
    	    </li>
    	    <li class="properties">
    	        <a href="#properties" data-toggle="tab">Properties</a>
    	    </li>
    	    <li class="distillation">
    	        <a href="#distillation" data-toggle="tab">Distillation</a>
    	    </li>
    	    <li class="moreproperties">
    	    	<a href="#moreproperties" data-toggle="tab">More Properties</a>
    	    </li>
    	</ul>

    	<div class="tab-content">
    		<div class="tab-pane active" id="generalinfo">
    			<div class="row">
    				<div class="col-md-12">
    					<div><label>Product Type:</label> {{ data.imported.product_type }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Oil Class:</label> {{ data.imported.oil_class }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Adios Oil ID:</label> {{ data.imported.adios_oil_id }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Location:</label> {{ data.imported.location }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Field Name:</label> {{ data.imported.field_name }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Synonyms:</label>
                            {% if (data.imported.synonyms){ %}
        						{% for (var i = 0; i < data.imported.synonyms.length; i++){ %}
        							{{ data.imported.synonyms[i].name }}
        						{% } %}
                            {% } %}
    					</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Reference:</label> {{ data.imported.reference }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Comments:</label> {{ data.imported.comments }}</div>
    				</div>
    			</div>
    		</div>

    		<div class="tab-pane" id="properties">
    			<div class="row">
    				<div class="col-md-12">
    					<div><label>API:</label> {{ data.api }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Pour Point:</label> {{ data.pour_point_min_k }} {{ data.pour_point_max_k }} </div>
    				</div>
    				<div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
    					       Kinematic Viscosity
                            </div>
                            <div class="panel-body">
            					{% if (!data.imported.kvis){ %}
            						<div>No Viscosity Data on Record.</div>
            					{% } else { %}
            						<table class="table">
            							<tr>
            								<th>Centistokes (cSt)</th>
            								<th>Reference Temperature &deg;F (&deg;C)</th>
            								<th>Weathering (%)</th>
            							</tr>
            						{% for (var i = 0; i < data.imported.kvis.length; i++){ %}
            							{% var centiStokes = (data.imported.kvis[i].m_2_s * 1000000).toFixed(3); %}
                                        {% if (_.isNumber(data.imported.kvis[i].weathering)) { %}
                                            {% var viscosityWeather = (data.imported.kvis[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var viscosityWeather = '--' %}
                                        {% } %}
            							<tr>
            								<td>{{ centiStokes }}</td>
            								<td>{{ data.imported.kvis[i].ref_temp_f }} {{ data.imported.kvis[i].ref_temp_k }}</td>
            								<td>{{ viscosityWeather }}</td>
            							</tr>
            						{% } %}
            						</table>
            					{% } %}
                            </div>
                        </div>
    				</div>
                    <div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Density
                            </div>
                            <div class="panel-body">
                                {% if (!data.imported.densities){ %}
                                    <div>No Density Data on Record.</div>
                                {% } else { %}
                                    <table class="table">
                                        <tr>
                                            <th>Density (g/cm^3)</th>
                                            <th>Reference Temperature &deg;F (&deg;C)</th>
                                            <th>Weathering (%)</th>
                                        </tr>
                                    {% for (var i = 0; i < data.densities.length; i++){ %}
                                        {% var density = (data.densities[i].kg_m_3 / 1000).toFixed(3); %}
                                        {% if (_.isNumber(data.densities[i].weathering)) { %}
                                            {% var densityWeather = (data.densities[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var densityWeather = '--'; %}
                                        {% } %}
                                        <tr>
                                            <td>{{ density }}</td>
                                            <td>{{ data.densities[i].ref_temp_f }} {{ data.densities[i].ref_temp_k }}</td>
                                            <td>{{ densityWeather }}</td>
                                        </tr>
                                    {% } %}
                                    </table>
                                {% } %}
                            </div>
                        </div>
                    </div>
    			</div>
    		</div>

    		<div class="tab-pane" id="distillation">
    			<div class="row">
                    <div class="col-md-12">
        				<h4>Distillation Cuts</h4>
        				{% if (!data.cuts){ %}
        					<div>No Distillation Cuts on Record.</div>
        				{% } else { %}
        					<table class="table">
        						<tr>
        							<th>Cut #</th>
        							<th>Mass Percent (%)</th>
        							<th>Vapor Temperature &deg;F (&deg;C)</th>
        							<th>Liquid Temperature &deg;F (&deg;C)</th>
        						</tr>
        					{% for (var i = 0; i < data.cuts.length; i++){ %}
        						{% var count = i + 1; %}
        						{% var percentCut = (data.cuts[i].fraction * 100).toFixed(3); %}
        						<tr>
        							<td>{{ count }}</td>
        							<td>{{ percentCut }}</td>
        							<td>{{ data.cuts[i].vapor_temp_f }} {{ data.cuts[i].vapor_temp_k }}</td>
        							<td>{{ data.cuts[i].liquid_temp_f }} {{ data.cuts[i].liquid_temp_k }}</td>
        						</tr>
        					{% } %}
        					</table>
        				{% } %}
                    </div>
    			</div>
    		</div>

    		<div class="tab-pane" id="moreproperties">
    			<div class="row">
					<div class="col-md-6"><label>Flash Point:</label> {{ data.flash_point_min_k }} {{data.flash_point_max_k }} </div>
					<div class="col-md-6"><label>Emulsification Constant:</label> {{ data.imported.emuls_constant_min }} {{ data.imported.emuls_constant_max }}</div>
    				<div class="col-md-12"><label>Adhesion:</label> {{ data.adhesion_kg_m_2 }}</div>

                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Interfacial Tension (Dynes/cm)
                            </div>
                            <div class="panel-body">
            					<div class="col-md-6"><label>Oil-Water:</label> {{ data.oil_water_interfacial_tension_n_m }}</div>
            					<div class="col-md-6"><label>Oil-Seawater:</label> {{ data.oil_seawater_interfacial_tension_n_m }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
    					<div class="panel complete panel-default">
                            <div class="panel-heading">
                                Metals (ppm)
                            </div>
                            <div class="panel-body">
            					<div class="col-md-6"><label>Nickel:</label> {{ data.imported.nickel }}</div>
            					<div class="col-md-6"><label>Vanadium:</label> {{ data.imported.vanadium }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
    					<div class="panel complete panel-default">
                            <div class="panel-heading">
                                Group Analysis (weight %)
                            </div>
                            <div class="panel-body">
            					<div class="col-md-6"><label>Aromatics:</label> {{ data.imported.aromatics }}</div>
            					<div class="col-md-6"><label>Polars:</label> {{ data.imported.polars }}</div>
                                <div class="col-md-6"><label>Resins:</label> {{ data.imported.resins }}</div>
                                <div class="col-md-6"><label>Benzene:</label> {{ data.imported.benezene }}</div>
                                <div class="col-md-6"><label>Saturates:</label> {{ data.imported.saturates }}</div>
                                <div class="col-md-6"><label>Sulphur:</label> {{ data.imported.sulphur }}</div>
                                <div class="col-md-6"><label>Paraffins:</label> {{ data.imported.paraffins }}</div>
                                <div class="col-md-6"><label>Wax Content:</label> {{ data.imported.wax_content }}</div>
                            </div>
                        </div>
                    </div>
        		</div>
    		</div>
    	</div>
        <div class="pull-right">
            <sup>Calculated values are in italics</sup>
        </div>
    </div>
</div>