<div id="specificOilContainer"> 
    <div class="row">
    	<div class="col-md-12">
    		<h4>{{ data.name }}</h4>
    	</div>
    </div>
    <div>

    	<ul class="nav nav-tabs" id="oiltabs">
    	    <li class="generalinfo active">
    	        <a href="#generalinfo-oil_{{ viewName }}" data-toggle="tab">General Info</a>
    	    </li>
    	    <li class="properties">
    	        <a href="#properties_{{ viewName }}" data-toggle="tab">Properties</a>
    	    </li>
    	    <li class="distillation">
    	        <a href="#distillation_{{ viewName }}" data-toggle="tab">Distillation</a>
    	    </li>
    	</ul>

    	<div class="tab-content">
    		<div class="tab-pane active" id="generalinfo-oil_{{ viewName }}">
    			<div class="row">
    				<div class="col-md-12">
    					<div><label>Product Type:</label> {{ data.imported.product_type }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Oil Class:</label> {{ data.imported.oil_class }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Adios Oil ID:</label> {{ data.imported.adios_oil_id }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Location:</label> {{ data.imported.location }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Field Name:</label> {{ data.imported.field_name }}</div>
    				</div>
                    <div class="col-md-12">
                        <div><label>Sample Date:</label></div>
                    </div>
    				<div class="col-md-12">
    					<div><label>Synonyms:</label>
                            {% if (data.imported.synonyms){ %}
        						{% for (var i = 0; i < data.imported.synonyms.length; i++){ %}
        							{{ data.imported.synonyms[i].name }}
        						{% } %}
                            {% } %}
    					</div>
    				</div>
                    <div class="col-md-12">
                        <div><label>Categories:</label>
                            {% if (data.categories){ %}
                                {% for (var i = 0; i < data.categories.length; i++){ %}
                                    <div class="label label-warning">{{ data.categories[i] }}</div>
                                {% } %}
                            {% } %}
                        </div>
                    </div>
    				<div class="col-md-12">
    					<div><label>Reference:</label> {{ data.imported.reference }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Comments:</label> {{ data.imported.comments }}</div>
    				</div>
    			</div>
    		</div>

    		<div class="tab-pane" id="properties_{{ viewName }}">
    			<div class="row">
    				<div class="col-md-6">
    					<div><label>API:</label> {{ data.api }}</div>
    				</div>
    				<div class="col-md-6">
    					<div><label>Pour Point:</label> {{ data.pour_point_min_k }} {{ data.pour_point_max_k }} </div>
    				</div>
                    <div class="col-md-6">
                        <label class="info" title="At a certain temperature,  vaporizing oil or oil product may reach  a vapor  concentration large enough to  sustain combustion. This temperature is called the flash point.">
                            <span class="glyphicon glyphicon-info-sign"></span> Flash Point:
                        </label>
                        {{ data.flash_point_min_k }} {{data.flash_point_max_k }}
                    </div>
                    <div class="col-md-6">
                        <label class="info" title="Some oils will only form a stable emulsion when a certain ratio of aromatic  fraction to asphaltene fraction is present in the spilled oil. The aromatic /asphaltene fraction changes as the aromatics evaporate. The emulsion constant records the fraction of the oil that must evaporate before the oil emulsifies.">
                            <span class="glyphicon glyphicon-info-sign"></span> Emulsification Constant:
                        </label>
                        {{ data.bullwinkle_fraction }}
                    </div>
                    <div class="col-md-12">
                        <label class="info" title="Beached oil will have different levels of stickiness on the shoreline.  This dimensionless measure is called adhesion.  Adhesion equals zero if the oil will not stick at all and 1 if it adheres completely.">
                            <span class="glyphicon glyphicon-info-sign"></span> Adhesion:
                        </label>
                         {{ data.adhesion_kg_m_2 }}
                    </div>
    				<div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
    					       <span class="info" title="A measure of a fluid's resistance to flow. An oil with large viscosity resists motion because of internal friction. There are two related viscosity values, kinematic viscosity, measured in Stokes, and dynamic viscosity, measured in Poise. Dynamic viscosity equals the kinematic viscosity multiplied by the fluid density. Water has a kinematic viscosity on 1 centistoke (cSt) and a dynamic viscosity of one centipoise.  Oil viscosities are larger.">Kinematic Viscosity <span class="glyphicon glyphicon-info-sign"></span></span>
                            </div>
                            <div class="panel-body">
            					{% if (!data.kvis){ %}
            						<div>No Viscosity Data on Record.</div>
            					{% } else { %}
            						<table class="table">
            							<tr>
            								<th>Centistokes (cSt)</th>
            								<th>Reference Temperature &deg;F (&deg;C)</th>
            								<th>Weathering (%)</th>
            							</tr>
            						{% for (var i = 0; i < data.kvis.length; i++){ %}
            							{% var centiStokes = parseFloat(data.kvis[i].m_2_s * 1000000).toFixed(2); %}
                                        {% if (_.isNumber(data.kvis[i].weathering)) { %}
                                            {% var viscosityWeather = (data.kvis[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var viscosityWeather = '--' %}
                                        {% } %}
            							<tr>
            								<td>{{ centiStokes }}</td>
            								<td>{{ data.kvis[i].ref_temp_f }} {{ data.kvis[i].ref_temp_k }}</td>
            								<td>{{ viscosityWeather }}</td>
            							</tr>
            						{% } %}
            						</table>
            					{% } %}
                            </div>
                        </div>
    				</div>
                    <div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Density
                            </div>
                            <div class="panel-body">
                                {% if (!data.imported.densities){ %}
                                    <div>No Density Data on Record.</div>
                                {% } else { %}
                                    <table class="table">
                                        <tr>
                                            <th>Density (g/cm^3)</th>
                                            <th>Reference Temperature &deg;F (&deg;C)</th>
                                            <th>Weathering (%)</th>
                                        </tr>
                                    {% for (var i = 0; i < data.densities.length; i++){ %}
                                        {% if (_.isNumber(data.densities[i].weathering)) { %}
                                            {% var densityWeather = (data.densities[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var densityWeather = '--'; %}
                                        {% } %}
                                        <tr>
                                            <td>{{ data.densities[i].kg_m_3 }}</td>
                                            <td>{{ data.densities[i].ref_temp_f }} {{ data.densities[i].ref_temp_k }}</td>
                                            <td>{{ densityWeather }}</td>
                                        </tr>
                                    {% } %}
                                    </table>
                                {% } %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                <span class="info" title="The attractive force exerted upon the surface molecules of a liquid by the molecules beneath to make the liquid have the least  interfacial surface area. A typical oil-water surface tension is 30 dynes/cm. Chemical dispersants reduce surface tension.">
                                    Interfacial Tension (Dynes/cm) 
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6"><label>Oil-Water:</label> {{ data.oil_water_interfacial_tension_n_m }}</div>
                                <div class="col-md-6"><label>Oil-Seawater:</label> {{ data.oil_seawater_interfacial_tension_n_m }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Metals (ppm)
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6"><label>Nickel:</label> {{ data.nickel_ppm }}</div>
                                <div class="col-md-6"><label>Vanadium:</label> {{ data.vanadium_ppm }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Group Analysis (weight %)
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label class="info" title="Nonpolar oil molecules without double bonds that including linear, branched, and cyclic saturated hydrocarbons.">
                                        <span class="glyphicon glyphicon-info-sign"></span> Saturates:
                                    </label> 
                                    {{ data.saturates_fraction }}
                                </div>
                                <div class="col-md-6"><label>Polars:</label> {{ data.polars_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Hydrocarbon molecules that contain one or more benzene rings.">
                                        <span class="glyphicon glyphicon-info-sign"></span> 
                                        Aromatics:
                                    </label> 
                                    {{ data.aromatics_fraction }}
                                </div>
                                <div class="col-md-6"><label>Benzene:</label> {{ data.benzene_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Large hydrocarbon molecules with one to three sulfur, oxygen, or nitrogen atoms per molecule. Resin can dissolve in oil.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Resins:
                                    </label> 
                                    {{ data.resins_fraction }}
                                </div>
                                <div class="col-md-6"><label>Sulfur:</label> {{ data.sulphur_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Very large hydrocarbon molecules  that  have one to three sulfur, oxygen, or nitrogen atoms per molecule and  do not dissolve in oil by themselves.">
                                        <span class="glyphicon glyphicon-info-sign"></span> 
                                        Asphaltenes:
                                    </label> 
                                    {{ data.asphaltenes_fraction }}</div>
                                <div class="col-md-6"><label>Paraffins:</label> {{ data.paraffins_fraction }}</div>
                                <div class="col-md-6"><label>Wax Content:</label> {{ data.wax_content_fraction }}</div>
                            </div>
                        </div>
                    </div>
    			</div>
    		</div>

    		<div class="tab-pane" id="distillation_{{ viewName }}">
    			<div class="row">
                    <div class="col-md-12">
        				<h4 class="info pull-left" title="Oil is a mixture of molecules that boil at different temperatures and pressures.  The table displays the cumulative mass fraction of the oil that boils off at atmospheric pressure for a specific liquid temperature of the boiling oil and its corresponding produced vapor temperature.">Distillation Cuts <span class="glyphicon glyphicon-info-sign"></span></h4>
        				{% if (!data.cuts){ %}
        					<div>No Distillation Cuts on Record.</div>
        				{% } else { %}
        					<table class="table">
        						<tr>
        							<th>Cut #</th>
        							<th>Mass Percent (%)</th>
        							<th>Vapor Temperature &deg;F (&deg;C)</th>
        							<th>Liquid Temperature &deg;F (&deg;C)</th>
        						</tr>
        					{% for (var i = 0; i < data.cuts.length; i++){ %}
        						{% var count = i + 1; %}
        						{% var percentCut = (data.cuts[i].fraction * 100).toFixed(3); %}
        						<tr>
        							<td>{{ count }}</td>
        							<td>{{ percentCut }}</td>
        							<td>{{ data.cuts[i].vapor_temp_f }} {{ data.cuts[i].vapor_temp_k }}</td>
        							<td>{{ data.cuts[i].liquid_temp_f }} {{ data.cuts[i].liquid_temp_k }}</td>
        						</tr>
        					{% } %}
        					</table>
        				{% } %}
                    </div>
    			</div>
    		</div>
    	</div>
        <div class="pull-right">
            <sup>Estimated values are in red</sup>
        </div>
    </div>
</div>