<div class="panel panel-default complete">
    <div class="panel-heading">
        <div class="panel-title">Substance/Oil</div>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-sm-6">
            <label>Substance: </label> No oil selected
        </div>  
        </div><br>

    <div class="adios-upload hidden"></div>

    <a href="https://adios.orr.noaa.gov/" target="_blank">
           <div class="external_link"></div> ADIOS Oil Database
    </a>
    </div>
</div>
