<div id="tableContainer">
    <table class="table table-condensed table-header">
        <thead>
            <tr>
                <th class="name">Name<span class="name"></span></th>
                <th class="location">Location<span class="location"></span></th>
                <th class="field_name">Field Name<span class="field_name"></span></th>
                <th class="api">API<span class="api"></span></th>
            </tr>
        </thead>
    </table>
    <div id="dataTable">
        <table id="tableContainer-inner" class="table table-condensed">
            <tbody>
                {% for (var i = 0; i < data.length; i++){ %}
                <tr data-id="{{ data.at(i).get('adios_oil_id') }}">
                    <td>{{ data.at(i).get('name') }}</td>
                    <td>{{ data.at(i).get('location') }}</td>
                    <td>{{ data.at(i).get('field_name') }}</td>
                    <td>{{ data.at(i).get('api') }}</td>
                </tr>
                {% } %}
            </tbody>
        </table>
    </div>
</div>