<div id="tableContainer">
    <table class="table table-condensed table-header">
        <thead>
            <tr>
                <th class="name" style="width: 40%">Name<span class="name"></span></th>
                <th class="location" style="width: 30%">Location<span class="location"></span></th>
                <th class="field_name" style="width: 20%">Field Name<span class="field_name"></span></th>
                <th class="api" style="width: 10%">API<span class="api"></span></th>
            </tr>
        </thead>
    </table>
    <div id="dataTable">
        <table id="tableContainer-inner" class="table table-condensed">
            <tbody>
                {% if (data.length === 0){ %}
                    <h3 class="text-center">No Results Found.</h3>
                {% } %}
                {% for (var i = 0; i < data.length; i++){ %}
                    <tr data-id="{{ data.at(i).get('adios_oil_id') }}" data-name="{{ data.at(i).get('name') }}">
                        <td style="width: 40%">{{ data.at(i).get('name') }}</td>
                        <td style="width: 30%">{{ data.at(i).get('location') }}</td>
                        <td style="width: 20%">{{ data.at(i).get('field_name') }}</td>
                        <td style="width: 10%">{{ data.at(i).get('api') }}</td>
                    </tr>
                {% } %}
            </tbody>
        </table>
    </div>
</div>