<div class="row">
    <div class="col-md-9">
        Source: <a href="http://www.ngdc.noaa.gov/mgg/shorelines/gshhs.html" target="_blank">GSHHS</a>
        <p>Use this tool to retrieve coastline data from the Global Self-consistent, Hierarchical, High-resolution Shoreline (GSHHS) Database at a specifed resolution.
        <p>Select a region on the map by clicking and dragging to draw a rectangle. Shoreline data within the rectangle will be used to generate a GNOME map.</p>
    </div>
    <div class="col-md-3">
        <p>Shoreline Resolution:<p>
        <select id="resolution" name="resolution">
            <option value="c">Coarse</option>
            <option value="l">Low</option>
            <option value="i">Intermediate</option>
            <option selected="selected" value="h">High</option>
            <option value="f">Full</option>
        </select>
    </div>
</div>
<div class="map" id="shoreline-goods-map"></div>