<div class="row">
    <div class="col-md-12">
        <p>Select a region on the map by clicking and dragging to draw a rectangle. Shoreline data within the rectangle will be used to generate a GNOME map.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Shoreline dataset:</p>
        <p><select id="coastline_source" name="coastline_source">
        <option value="gshhs">NOAA Global Shoreline Database (GSHHG)</option>
        <option value="nos">NOAA/NOS Shoreline for Continental U.S.</option>
        </select></p>
    </div>
    <div class="col-md-4" id="gshhs_resolution">
        <p>Shoreline Resolution:</p>
        <p><select id="resolution" name="resolution">
            <option value="c">Coarse</option>
            <option value="l">Low</option>
            <option value="i">Intermediate</option>
            <option selected="selected" value="h">High</option>
            <option value="f">Full</option>
        </select></p>
    </div>
</div>

<div class="map" id="shoreline-goods-map"></div>