<form class="form-horizontal">
    <div class="form-group">
        <label for="distance" class="control-label col-md-4">
            Distance:
        </label>
        <div class="col-md-2">
            <input class="form-control" id="distance" type="number" name="distance" value="{{distance}}">
        </div>
        <div class="col-md-2">
            <select name="units" class="form-control">
                <option value="nm">nm</option>
                <option value="mi">mi</option>
                <option value="km">km</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="bearing" class="control-label col-md-4">Bearing:</label>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="bearing" value="{{bearing}}" class="form-control" name="bearing">
                <span class="input-group-addon">&deg;</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="center" class="control-label col-md-4">Center:</label>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="center" value="{{center}}" name="center" class="form-control">
                <span class="input-group-addon">X, Y, Z</span>
            </div>
        </div>
    </div>
    
</form>