<div class="option upload" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Upload Shoreline</div>
    <p>Upload a supported file type that describes a shoreline.</p>
</div>

<div class="option waterWorld" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Infinite Ocean</div>
    <p>Model a spill without any coastlines.</p>
</div>

<!-- <div class="option parameterized" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Parameterized Shoreline</div>
    <p>Model a spill with an idealized shoreline.</p>
</div> -->



<div class="option customLocation" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Custom Shoreline</div>
    <p>Select a region from a shoreline database.</p>
</div>