<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-5 control-label" for="mover_name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="mover_name" class="form-control" name="name">
        </div>
    </div> 

    <div class="form-group">
        <label class="col-sm-5 control-label" for="scale">Reference Point Scaling:</label>
        <div class="col-sm-5">
            <select name="scale" id="scale" class="form-control">
                <option value="true">On</option>
                <option value="false">Off</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label" for="Scale">
            {% if(model.tide){ %}
                Value in tide file multiplied by:
            {% } else { %}
                Reference point value in m/s:
            {%  } %}
        </label>
        <div class="col-sm-5">
            <input type="text" id="Scale" class="form-control" name="scale_value" disabled>
        </div>
    </div> 

    <div class="form-group">
        <label class="col-sm-5 control-label" for="scale_refpoint">Scale Reference Point:</label>
        <div class="col-sm-5">
            <div class="input-group">
                <input type="text" data-type="array" id="scale_refpoint" class="form-control" name="scale_refpoint" disabled>
                <a class="input-group-addon pick-coords btn btn-info" data-el="#scale_refpoint" disabled><span class="glyphicon glyphicon-screenshot"></span></a>
            </div>
        </div>
    </div> 

    <div class="form-group">
        <label for="tide" class="col-sm-5 control-label">Tide:</label>
        <div class="col-sm-5">
            <div class="input-group">
                <select class="form-control" name="tide" id="tide">
                    <option value="null">No Tide Selected</option>
                    {% for(var tide of tides){ %}
                        <option value="{{ tide.get('id') }}">{{ tide.get('name') }}</option>
                    {% } %}
                </select> 
                <a class="input-group-addon new-tide btn btn-info"><span class="glyphicon glyphicon-cloud-upload"> </span></a>
            </div>
        </div>
    </div>
    <div class="tide-upload dropzone hidden"></div>
</form>
