<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-5 control-label" for="mover_name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="mover_name" class="form-control" name="name">
        </div>
    </div> 
    <div class="form-group">
        <label class="col-sm-5 control-label" for="scale_by">Scale by:</label>
        <div class="col-sm-5">
            <select name="scale_by" id="scale_by" class="form-control">
                <option value="1">Pattern 1: {{ model.filename1.split('/').pop() }}</option>
                <option value="2">Pattern 2: {{ model.filename2.split('/').pop() }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label" for="scale_refpoint">Scale Reference Point:</label>
        <div class="col-sm-5">
            <input type="text" id="scale_refpoint" class="form-control" name="scale_refpoint">
        </div>
    </div> 

    <div class="form-group">
        <label class="col-sm-5 control-label" for="wind">Wind:</label>
        <div class="col-sm-5">
            <select name="wind" id="wind" class="form-control">
                <option value="null">No Wind Selected</option>
                {% for(var wind of winds) { %}
                    <option value="{{ wind.get('id') }}">{{ wind.get('name') }}</option>
                {% } %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">Pattern 1 | {{ model.filename1.split('/').pop() }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat1_speed">Speed:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat1_speed" class="form-control input-sm" name="pat1_speed">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat1_speed_units">Speed Units:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat1_speed_units" class="form-control input-sm" name="pat1_speed_units">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat1_scale_to_value">Scale:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat1_scale_to_value" class="form-control input-sm" name="pat1_scale_to_value">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat1_angle">Angle:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat1_angle" class="form-control input-sm" name="pat1_angle">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="filename1">Filename:</label>
                        <div class="col-sm-6">
                            <input type="text" id="filename1" class="form-control input-sm disabled" disabled="true" name="filename1">
                        </div>
                    </div> 
                </div>
            </div>        
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">Pattern 2 | {{ model.filename2.split('/').pop() }}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat2_speed">Speed:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat2_speed" class="form-control input-sm" name="pat2_speed">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat2_speed_units">Speed Units:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat2_speed_units" class="form-control input-sm" name="pat2_speed_units">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat2_scale_to_value">Scale:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat2_scale_to_value" class="form-control input-sm" name="pat2_scale_to_value">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="pat2_angle">Angle:</label>
                        <div class="col-sm-6">
                            <input type="text" id="pat2_angle" class="form-control input-sm" name="pat2_angle">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="filename2">Filename:</label>
                        <div class="col-sm-6">
                            <input type="text" id="filename2" class="form-control input-sm disabled" disabled="true" name="filename2">
                        </div>
                    </div> 
                </div>
            </div>     
        </div>
    </div>
    
</form>
