<div class="step1">

    <div class="option py_grid">
        <div class="icon"></div>
        <div class="title">Load NetCDF Surface Currents</div>
        <p></p>
    </div>

    <div class="option cats">
        <div class="icon"></div>
        <div class="title">Load NOAA Emergency Response Model (CATS) output</div>
        <p></p>
    </div>

        <div class="option grid">
        <div class="icon"></div>
        <div class="title">Load Deprecated ASCII Formats</div>
        <p></p>
    </div>

</div>

<div class="step2">
    <div id="upload_form"></div>
    <div class="hidden col-md-9">
        <label>
            <input type="checkbox" id="immediate-edit">
            Edit new object immediately
        </label>
    </div>
</div>
