<div class="step1">

    <div class="option grid">
        <div class="icon"></div>
        <div class="title">Load Surface Currents</div>
        <p></p>
    </div>

    <div class="option cats">
        <div class="icon"></div>
        <div class="title">Load NOAA Emergency Response Model (CATS) output</div>
        <p></p>
    </div>

    <div class="option py_grid">
        <div class="icon"></div>
        <div class="title">Load Surface Currents (proto)</div>
        <p></p>
    </div>
</div>

<div class="step2">
    <div id="upload_form"></div>
</div>
