<form class="form-horizontal" role="form">
	<div class="form-group">
        <label class="col-sm-4 control-label" for="mover_name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="mover_name" class="form-control" name="name" value="{{ name }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-md-7">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><strong>Start date:</strong></td>
                        <td>{{start_time}}</td>
                    </tr>
                    <tr>
                        <td><strong>End date:</strong></td>
                        <td>{{end_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-4 control-label" for="set_active_range">Active Range:</label>
        <div class="col-sm-5">
            <select class="form-control" id="set_active_range">
                <option value="infinite">Infinite</option>
                <option value="data_range">Set to Start/End Times</option>
            </select>
        </div>
   
        <div class="active_range hide">
            <label class="col-sm-4 control-label">Start:</label>
            <div class="col-sm-5">
                <input type="text" id="active_start" class="form-control" name="active_start" value="{{ active_start }}">
            </div>
            <label class="col-sm-4 control-label">Stop:</label>
            <div class="col-sm-5">
                <input type="text" id="active_stop" class="form-control" name="active_stop" value="{{ active_stop }}">
            </div>  
        </div>
   </div>
    
    <div class="form-group">
        <label class="col-sm-4 control-label" for="scale_value">Scale Value:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control allow_neg" name="scale_value" value="{{ scale_value }}" id="scale_value">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-4 control-label" for="extrapolation-allowed">Extrapolate:</label>
        <div class="col-sm-5">
            <label class="checkbox-inline">
            {% if (extrapolation_is_allowed) { %}
            <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed" checked="checked">&nbsp;
            {% } else { %}
            <input type="checkbox" name="extrapolation-allowed" value="1" id="extrapolation-allowed">&nbsp;
            {% } %}
            </label>
        </div>
   </div>

</form>