<div class="row">
    <div class="col-md-12">
        <p>Select a region on the map by clicking and dragging to draw a rectangle. Model output within the rectangle will downloaded. Requests may take several minutes to complete.</p>
        <p>Global models are available in the dropdown list below. If a regional model is available within the map bounds an outline will appear on the map.</p>
    </div>
</div>
<div class="row">
    <div class="location-list">
        <div class="item header" id="regionalModelsHeader">
            Regional Models:
        </div>
        <div class="item header" id="globalModelsHeader">
            Global Models:
        </div>
    </div>
    <div class="map" id="shoreline-goods-map">
        <div class="popup"></div>
    </div>
</div>