
<div class="row">
    <!-- <div class="col-md-1">&nbsp</div> -->
    <div class="col-md-12">{# model.get('html_desc')}}</div>
</div>
<p>
<div class="row">
    <div class="col-md-12">The model output is available through WebGNOME beginning 
    {{ cast.get('start') }} through {{ cast.get('end') }}.
</div>
<!-- <div class="row">
    <div class="col-md-4">Grid Dimensions:</div>
    <div class="col-md-8">{{ model.get('dimensions')}}</div>
</div>
<div class="row">
    <div class="col-md-4">Grid Type:</div>
    <div class="col-md-8">{{ model.get('grid_type')}}</div>
</div>
<div class="row">
    <div class="col-md-4">Start Time:</div>
    <div class="col-md-8">{{ cast.get('start') }}</div>
</div>
<div class="row">
    <div class="col-md-4">End Time:</div>
    <div class="col-md-8">{{ cast.get('end') }}</div>
</div> -->