<div class="row">
    <div class="col-md-12">
        <p>The boundaries of available models that overlap with the model map are drawn in purple. Global models are not drawn but can be selected from the list on the right. To view details about a model make a selection by choosing a region on the map or from the list on the right.</p>
    </div>
</div>
<div class="row">
    <div class="location-list">
        <div class="item header" id="regionalModelsHeader">
            <b>Regional Models</b>:
        </div>
        <div class="item header" id="globalModelsHeader">
            <b>Global Models</b>:
        </div>
    </div>
    <div class="map" id="shoreline-goods-map">
        <div class="popover">
            <div class="popover-exit" role="button"></div>
            <div class="panel panel-primary">
                <div class="goods-metadata">
                    <div class="goods-header"></div>
                </div>
                <div id="goods-description">
                    <div class="spinner" style="display: none;">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
              </div>
            <button class="button popover-subset-button">Subset</button>
        </div>
    </div>
</div>