<div class="row">
    <div class="col-md-12">
        <p>Select the region of interest to download model output from by drawing a rectangle on the map. The entire region will be selected by default. Then use the form on the right to narrow the time range of interest.</p>
        <p><b>Requesting large spatial domains or long time series can take several minutes to complete!</b></p>
    </div>
</div>

<div class="row">
    <div class="location-list subset-form">
        <form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-12">
					<table class="table table-condensed">
						<div>
						<strong>Model output availability (UTC):</strong>
						</div>
						<tbody>
							<tr>
								<td><strong>Start:</strong></td>
								<td>{{actual_start}}</td>
							</tr>
							<tr>
								<td><strong>End:</strong></td>
								<td>{{actual_end}}</td>
							</tr>
							<tr>
								&nbsp
							</tr>
						</tbody>
					</table>
					<div>
						<strong>Subset to download:</strong>
					</div>
				</div>
			</div>
			
			
	
            <div class="form-group">
                <label for="subset_start_time" class="col-sm-4 control-label">Start Time:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="subset_start_time" placeholder="Start Time" value="{{ start_time }}">
                </div>
            </div>
            <div class="form-group">
                <label for="subset_end_time" class="col-sm-4 control-label">End Time:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="subset_end_time" placeholder="End Time" value="{{ end_time }}">
                </div>
            </div>
            <div class="form-group">
                <label for="wb" class="col-sm-4 control-label">West:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="wb" placeholder="West Bound" value="{{ bounds[0] }}">
                </div>
                <label for="nb" class="col-sm-4 control-label">North:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="nb" placeholder="North Bound" value="{{ bounds[1] }}">
                </div>
                <label for="eb" class="col-sm-4 control-label">East:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="eb" placeholder="East Bound" value="{{ bounds[2] }}">
                </div>
                <label for="sb" class="col-sm-4 control-label">South:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="sb" placeholder="South Bound" value="{{ bounds[3] }}">
                </div>
            </div>
			
            <div id="current-options">
			
				<div class="form-group">				
					<label id="adjust_tz-label" for="adjust_tz" class="col-sm-4 control-label">Adjust timezone (+/-hrs):</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control allow_neg" name="adjust_tz" value=0 id="adjust_tz">
                    </div> 
				</div>
					
                <div class="form-group">
					<div class="col-sm-10 ">
						<div class="checkbox col-sm-offset-1">
							<label for="surface" class="control-label">
								<input type="checkbox" id="surface" placeholder="surface" checked=checked disabled>
								Surface Only
							</label>
						</div>
					</div>								
					<div class="col-sm-10 ">
						<div class="checkbox col-sm-offset-1">
							<label for="include-map" class="control-label">
								{% if(wizard){ %}
								<input type="checkbox" id="include-map" placeholder="include-map" checked=checked disabled>
								{% } else { %}
								<input type="checkbox" id="include-map" placeholder="include-map">
								{%  } %}
								Include Map
							</label>
						</div>
					</div>
					<div class="col-sm-10 ">
						<div class="checkbox col-sm-offset-1">
							<label id="included-winds-label" for="included-winds" class="control-label">
								<input type="checkbox" id="included-winds" placeholder="included-winds">
								Include Winds
							</label>
						</div>
					</div>
				</div>					
			</div>
<!--             <div class="form-group">
                <label for={{sources[0].name}} class="col-sm-8 control-label">{{sources[0].name}}</label>
                <div class="col-sm-4">
                    <input type="radio" class="form-control" name="source" value={{sources[0].name}} checked>
                </div>
                {% for (var i = 1; i < sources.length; i++){ %}
                <label for={{sources[i].name}} class="col-sm-8 control-label">{{sources[i].name}}</label>
                <div class="col-sm-4">
                    <input type="radio" class="form-control" name="source" value={{sources[i].name}}>
                </div>
                {% } %}
                    
            </div> -->
        </form>
		
    </div>
    <div class="map" id="shoreline-goods-subset-map">
    </div>
</div>