<div class="step1">

    <div class="option py_current">
        <div class="icon"></div>
        <div class="title">Load NetCDF Surface Currents</div>
        <p></p>
    </div>

    <div class="option cats">
        <div class="icon"></div>
        <div class="title">Load NOAA Emergency Response Model (CATS) output</div>
        <p></p>
    </div>

        <div class="option gridcurrent">
        <div class="icon"></div>
        <div class="title">Load Deprecated ASCII Formats</div>
        <p></p>
    </div>

</div>
