<div class="step1">

    <div class="option py_current">
        <div class="icon"></div>
        <div class="title">Load NetCDF Surface Currents</div>
        <p>CF-compliant files on structured or unstructed grids.</p>
    </div>

    <div class="option cats">
        <div class="icon"></div>
        <div class="title">Load NOAA Emergency Response Model (CATS) output</div>
        <p>Hydrodynamic model used by the NOAA Emergency Response Division.</p>
    </div>

  
<!--     <div class="option customLocation">
        <div class="icon"></div>
        <div class="title">Select Currents for Specifed Region</div>
        <p>Download currents from operational models (under development).</p>
    </div> -->
    
    <div class="option gridcurrent">
        <div class="icon"></div>
        <div class="title">Load Deprecated ASCII Formats</div>
        <p></p>
    </div>

</div>
