<div class="step1">

    <div class="option py_wind">
        <div class="icon"></div>
        <div class="title">Load NetCDF Winds</div>
        <p>CF-compliant files on structured or unstructed grids.</p>
    </div>

    <div class="option point_wind">
        <div class="icon"></div>
        <div class="title">Point Wind</div>
        <p>Create or load a spatially constant wind.</p>
    </div>

    <div class="option customLocation">
        <div class="icon"></div>
        <div class="title">Select Wind for Specifed Region</div>
        <p>Download wind from operational models (under development).</p>
    </div>

</div>
