<form class="form-horizontal" role="form">

	<div class="form-group">
        <label class="col-sm-4 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
    </div>
	
	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of In-Situ Burn:</label>
		<div class="col-sm-5">
			<div class="input-group date">
				<input type="text" id="datetime" class="form-control" value="{{ time }}">
				<span class="input-group-addon" id="datepick">
					<i></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
        <label class="control-label col-sm-4">Burn Efficiency:</label>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="slider"></div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>0%</sup></div>
        <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>100%</sup></div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label" for="efficiencyswitch">Default Efficiency:</label>
        <div class="col-sm-4 checkbox">
            <label>
                <input type="checkbox" class="slidertoggle">
            </label>
        </div>
    </div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="oilarea">Area of fire-boomed oil:</label>
		<div class="col-sm-4">
			<input type="number" id="oilarea" class="form-control" value="{{ area }}">
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="areaunits" value="{{ areaUnits }}">
				<option value="ft^2">
					sq. feet
				</option>
				<option value="squareyards">
					sq. yards
				</option>
				<option value="m^2">
					sq. meters
				</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="oilthickness">Boomed oil thickness:</label>
		<div class="col-sm-4">
			<input type="number" id="oilthickness" class="form-control" value="{{ thickness }}">
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="thicknessunits" value="{{ thicknessUnits }}">
				<option value="mm">
					mm
				</option>
				<option value="cm">
					cm
				</option>
				<option value="in">
					in
				</option>
			</select>
		</div>
	</div>

</form>