<form class="form-horizontal" role="form">
	
	<div class="form-group">
        <label class="col-sm-4 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
    </div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Dispersant Application:</label>
		<div class="col-sm-5">
			<div class="input-group date">
				<input type="text" id="datetime" class="form-control" value="{{ time }}">
				<span class="input-group-addon" id="datepick">
					<i></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="duration">Duration (hours):</label>
		<div class="col-sm-4">
			<input type="number" id="duration" class="form-control" value="{{ duration }}">
		</div>
	</div>

	<div class="form-group">
        <label class="control-label col-sm-4">Dispersant Efficiency:</label>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="slider"></div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>0%</sup></div>
        <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>100%</sup></div>
    </div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="oilsprayed">Percent of oil sprayed with dispersant:</label>
		<div class="col-sm-4">
			<input type="number" id="oilsprayed" class="form-control" value="">
		</div>
	</div>

	<!-- <div class="form-group">
		<label class="col-sm-4 control-label" for="oildispersed">Percent of oil effectively dispersed:</label>
		<div class="col-sm-4">
			<input type="number" id="oildispersed" class="form-control" value="">
		</div>
	</div> -->
</form>