<form class="form-horizontal" role="form">
	
	<div class="form-group">
        <label class="col-sm-4 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
    </div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Dispersant Application:</label>
		<div class="col-sm-5">
			<div class="input-group" id="datetime">
				<input type="text" id="datetime" class="form-control" value="{{ time }}">
				<span class="input-group-addon">
					<i></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="duration">Duration:</label>
		<div class="col-sm-4">
			<input type="number" id="duration" class="form-control" value="{{ duration }}">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="oilsprayed">Percent of oil sprayed with dispersant:</label>
		<div class="col-sm-4">
			<input type="number" id="oilsprayed" class="form-control" value="">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="oildispersed">Percent of oil effectively dispersed:</label>
		<div class="col-sm-4">
			<input type="number" id="oildispersed" class="form-control" value="">
		</div>
	</div>
</form>