<div class="row">
    <div class="col-md-6">
        <div class="option adios-skim" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ADIOS Skimming</div>
            <p>Skimming the oil spill</p>
        </div>

        <div class="option adios-disperse" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ADIOS Dispersing</div>
            <p>Dispersing the oil spill</p>
        </div>

        <div class="option adios-burn" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ADIOS In-Situ Burning</div>
            <p>Burning the oil spill in place</p>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="option roc-skim" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ROC Skimming</div>
            <p>Skimming the oil spill</p>
        </div>

        <div class="option roc-disperse" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ROC Dispersing</div>
            <p>Dispersing the oil spill</p>
        </div>

        <div class="option roc-burn" data-dismiss="modal">
            <div class="icon"></div>
            <div class="title">ROC In-Situ Burning</div>
            <p>Burning the oil spill in place</p>
        </div>        
    </div>
</div>