<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Release:</label>
		<div class="col-sm-4">
			<input type="text" id="datetime" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="duration">Duration of Release:</label>
		<div class="col-sm-4">
			<input type="text" id="duration" class="form-control">
		</div>
		<div class="col-sm-3">
			<select class="form-control">
				<option value="hours">
					Hours
				</option>
				<option value="days">
					Days
				</option>
			</select>
		</div>
	</div>

	<ul class="nav nav-tabs">
	    <li class="amount active">
	        <a href="#amount" data-toggle="tab">Amount Spilled</a>
	    </li>
	    <li class="constant">
	        <a href="#constant" data-toggle="tab">Constant Spill Rate</a>
	    </li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="amount">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="amount">Amount Spilled:</label>
					<div class="col-sm-4">
						<input type="text" id="amount-input" class="form-control">
					</div>
					<div class="col-sm-3">
						<select class="form-control">
							<option value="cu_m">
								cu m
							</option>
							<option value="gal">
								gal
							</option>
							<option value="bbl">
								bbl
							</option>
							<option value="tons">
								tons
							</option>
							<option value="metric_tons">
								metric tons
							</option>
						</select>
					</div>
					<div class="form-group">
	                    <label class="control-label col-sm-4">Confidence in Data:</label>
	                    <div class="col-sm-8 col-sm-offset-1">
	                        <div class="slider"></div>
	                    </div>
	                    <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>Certain</sup></div>
	                    <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>Uncertain</sup></div>
               		</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="constant">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="constant">Spill Rate:</label>
					<div class="col-sm-4">
						<input type="text" id="constant" class="form-control">
					</div>
					<div class="col-sm-3">
						<select class="form-control">
							<option value="bbl/hr">
								bbl/hr
							</option>
							<option value="gal/hr">
								gal/hr
							</option>
							<option value="cu_m/hr">
								cu m/hr
							</option>
							<option value="tons/hr">
								tons/hr
							</option>
							<option value="metric_tons/hr">
								metric tons/hr
							</option>
							<option value="gal/min">
								gal/min
							</option>
						</select>
					</div>
					<div class="form-group">
	                    <label class="control-label col-sm-4">Confidence in Data:</label>
	                    <div class="col-sm-8 col-sm-offset-1">
	                        <div class="slider"></div>
	                    </div>
	                    <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>Certain</sup></div>
	                    <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>Uncertain</sup></div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</form>
