<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label" for="spillrate">Spill Rate:</label>
		<div class="col-sm-5">
			<input type="text" id="spillrate" class="form-control">
		</div>
		<div class="col-sm-3">
			<select class="form-control">
		    </select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="totalspill">Total Spillage:</label>
		<div class="col-sm-5">
			<input type="text" id="totalspill" class="form-control">
		</div>
		<div class="col-sm-3">
			<select class="form-control">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="duration">Spill Duration</label>
		<div class="col-sm-8"><hr></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="days">Days:</label>
		<div class="col-sm-3">
			<input type="text" id="days" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="hours">Hours:</label>
		<div class="col-sm-3">
			<input type="text" id="hours" class="form-control">
		</div>
	</div>
</form>
