<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Release:</label>
		<div class="col-sm-5">
            <input type="text" id="datetime" class="form-control">
        </div>
    </div>
    <div class="form-group">
    	<label class="col-sm-4 control-label" for="amountreleased">Amount Released:</label>
    	<div class="col-sm-2">
    		<input type="text" class="form-control">
    	</div>
    	<div class="col-sm-3">
    		<select class="form-control">
    			<option value="cu_m">
    				cu m
    			</option>
    			<option value="gal">
    				gal
    			</option>
    			<option value="bbl">
    				bbl
    			</option>
    			<option value="tons">
    				tons
    			</option>
    			<option value="metric_tons">
    				metric tons
    			</option>
    		</select>
    	</div>
   	</div>
</form>