<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
    </div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Release:</label>
		<div class="col-sm-5">
            <div class="input-group date">
                <input type="text" id="datetime" class="form-control" value="{{ time }}">
                <span class="input-group-addon">
                    <i></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
    	<label class="col-sm-4 control-label" for="spill-amount">Amount Released:</label>
    	<div class="col-sm-2">
    		<input type="text" id="spill-amount" class="form-control" value="{{ amount }}">
    	</div>
    	<div class="col-sm-3">
    		<select class="form-control" id="units">
    			<option value="m^3">
    				m^3
    			</option>
    			<option value="gal">
    				gal
    			</option>
    			<option value="bbl">
    				bbl
    			</option>
    			<option value="ton">
    				tons
    			</option>
    			<option value="metric ton">
    				metric tons
    			</option>
    		</select>
    	</div>
        <div class="form-group">
            <label class="control-label col-sm-4">Confidence in Data:</label>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="slider"></div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>Certain</sup></div>
            <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>Uncertain</sup></div>
        </div>
        {% if (showGeo){ %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Start Position</label>
                <div class="col-sm-9">
                    <label for="start-lat" class="col-sm-1 control-label">Lat.</label>
                    <div class="col-sm-4"><input type="text" class="form-control geo-info start" name="lat" id="start-lat" value="{{ start_coords.lat }}"></div>
                    <label for="start-lng" class="col-sm-1 control-label">Lng.</label>
                    <div class="col-sm-4"><input type="text" class="form-control geo-info start" name="lng" id="start-lon" value="{{ start_coords.lon }}"></div>
                </div>
            </div>

            <div class="form-group end-position">
                <label class="col-sm-3 control-label">End Position</label>
                <div class="col-sm-9">
                    <label for="end-lat" class="col-sm-1 control-label">Lat.</label>
                    <div class="col-sm-4"><input type="text" class="form-control geo-info end" name="lat" id="end-lat" value="{{ end_coords.lat }}"></div>
                    <label for="end-lng" class="col-sm-1 control-label">Lng.</label>
                    <div class="col-sm-4"><input type="text" class="form-control geo-info end" name="lng" id="end-lon" value="{{ end_coords.lon }}"></div>
                </div>
            </div>
        {% } %}
   	</div>
    {% if (showGeo){ %}
        <div id="spill-form-map" class="map"></div>
    {% } %}
    <div id="oilInfo"></div>
    <div class="form-group">
        <div class="col-sm-3">
            <a class="btn btn-default oilSelect">
                Select Oil
            </a>
        </div>
        {% if (disabled){ %}
            <div class="col-sm-3">You must select the oil from the first spill form</div>
        {% } %}
        {% if (showGeo){ %}
            <div class="col-sm-6">
                <a class="pull-right btn btn-default locationSelect">
                    Plot Location on Map
                </a>
            </div>
        {% } %}
    </div>
</form>