<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="name">Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" value="{{ name }}">
        </div>
    </div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="datetime">Time of Release:</label>
		<div class="col-sm-5">
            <input type="text" id="datetime" class="form-control" value="{{ time }}">
        </div>
    </div>
    <div class="form-group">
    	<label class="col-sm-4 control-label" for="amountreleased">Amount Released:</label>
    	<div class="col-sm-2">
    		<input type="text" id="amountreleased" class="form-control" value="{{ amount }}">
    	</div>
    	<div class="col-sm-3">
    		<select class="form-control" id="units">
    			<option value="cubic meters">
    				cu m
    			</option>
    			<option value="gal">
    				gal
    			</option>
    			<option value="bbl">
    				bbl
    			</option>
    			<option value="ton">
    				tons
    			</option>
    			<option value="metric ton">
    				metric tons
    			</option>
    		</select>
    	</div>
        <div class="form-group">
            <label class="control-label col-sm-4">Confidence in Data:</label>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="slider"></div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 slider-label"><sup>Certain</sup></div>
            <div class="col-sm-3 col-sm-offset-2 slider-label"><sup>Uncertain</sup></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="latitude">Latitude:</label>
            <div class="col-sm-3">
                <input type="text" id="latitude" class="form-control geo-info" value="{{ coords.lat }}">
            </div>
            <label class="control-label col-sm-2" for="longitude">Longitude:</label>
            <div class="col-sm-3">
                <input type="text" id="longitude" class="form-control geo-info" value="{{ coords.lon }}">
            </div>
        </div>
   	</div>
    <div id="spill-form-map" class="map"></div>
    <div class="form-group">
        <div class="col-sm-6">
            <a class="btn btn-default oilSelect">
                Select Oil
            </a>
        </div>
        <div class="col-sm-6">
            <a class="pull-right btn btn-default locationSelect">
                Plot Location on Map
            </a>
        </div>
    </div>
</form>