<div class="form-group">
    <label class="control-label col-sm-2 col-sm-offset-1">Oil Info:</label>
    <div class="well well-sm col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <label class="control-label col-sm-4">Name:</label>
            <div class="col-sm-3 form-control-static">
                {{ oil.get('name') }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">API:</label>
            <div class="col-sm-3 form-control-static">
                {{ oil.get('api') }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Pour Point &deg;F (&deg;C):</label>
            <div class="col-sm-6 form-control-static">
                {{ temps.pour_point_max_f }} ({{ temps.pour_point_max_c }})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Flash Point &deg;F (&deg;C):</label>
            <div class="col-sm-6 form-control-static">
                {{ temps.flash_point_max_f }} ({{ temps.flash_point_max_c }})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Categories:</label>
            <div class="col-sm-3 form-control-static">
            </div>
        </div>
    </div>
</div>