<div class="panel panel-default complete">
    <div class="panel-heading">
        <a class="btn btn-primary btn-xs map-modal pull-right">Place on Map</a>
        <div class="panel-title">
            Position
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <label for="start-lat">Start Latitude</label>
                <input type="text" class="form-control geo-info start" name="lat" id="start-lat" title="{{ lat_formats }}" autocomplete="off" value="{{ start_coords.lat }}">
                <sup class="start-lat-parse"></sup>
            </div>
            <div class="col-md-6">
                <label for="start-lng">Start Longitude</label>
                <input type="text" class="form-control geo-info start" name="lng" id="start-lon" title="{{ lon_formats }}" autocomplete="off" value="{{ start_coords.lon }}">
                <sup class="start-lon-parse"> </sup>
            </div>
            
            <div class="col-md-6">
                <label for="end-lat">End Latitude</label>
                <input type="text" class="form-control geo-info end" name="lat" id="end-lat" title="{{ lat_formats }}" autocomplete="off" value="{{ end_coords.lat }}">
                <sup class="end-lat-parse"> </sup>
            </div>
            <div class="col-md-6">
                <label for="end-lng">End Longitude</label>
                <input type="text" class="form-control geo-info end" name="lng" id="end-lon" title="{{ lon_formats }}" autocomplete="off" value="{{ end_coords.lon }}">
                <sup class="end-lon-parse"> </sup>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-xs remove-endpoint">Remove Endpoint</a>
            </div>
        </div>
    </div>
</div>