<div class="col-md-12">
    <div class="form-group col-sm-12">
        <div class="cacheContainer col-sm-12">
            {% for (var i = 0; i < oilCache.length; i++){ %}
                <div class="col-sm-4 {%if(i===0){%}hide{%}%}">
                    <a class="btn btn-primary oil-cache" data-adios-id="{{ oilCache[i].get('name') }}">
                        {% var cachedOilName = oilCache[i].get('name').substring(0, 10) %}
                        {{ cachedOilName }}
                    </a>
                </div>
            {% } %}
        </div>
        <div class="{%if(!oilExists){%}hide{%}%}">
            <div><label>Name:</label> {{ name }}</div>
            <div><label>API:</label> {{ api }}</div>
            <div><label>Pour Point &deg;F (&deg;C):</label> {{ temps.pour_point_max_f }} ({{ temps.pour_point_max_c }})</div>
            <div><label>Flash Point &deg;F (&deg;C):</label> {{ temps.flash_point_max_f }} ({{ temps.flash_point_max_c }})</div>
            <div>
                <label>Categories: </label>
                {% for(c in categories){ %}
                    <div class="label label-warning">{{ categories[c] }}</div>
                {% } %}
            </div>
        </div>
        <div class="{%if(oilExists){%}hide{%}%}">
            <p>Spills require a substance, click the button below to select one.</p>
        </div>
        <div>
            <div class="form-group col-sm-12">
                <a class="btn btn-primary add oil-select">
                    {% if(oilExists){ %}
                        Edit Substance
                    {% } else { %}
                        Select Substance
                    {% } %}
                </a>
            </div>
        </div>
        <div class="{%if(!oilExists){%}hide{%}%}">
            <div>
                <label>Emulsion Override:</label>
                <div class="radio">
                    <div>
                        <label id="default">
                            <input type="radio" name="bullwinkle" value="default" selected>
                            Default - computed from oil and weather information
                        </label>
                    </div>
                    <div>
                        <label id="manual">
                            <input type="radio" name="bullwinkle" value="manual">
                                <div class="col-sm-6">
                                    <input type="number" class="manual form-control col-md-1" min="0" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control col-md-3 manual" id="units-bullwinkle" disabled>
                                        <option value="time">
                                            hours
                                        </option>
                                        <option value="percent">
                                            %
                                        </option>
                                    </select>
                                </div>
                            <div id="percent">
                                of any part of the spill has evaporated
                            </div>
                            <div id="hours">
                                have elapsed since start of spill
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>