<div class="panel panel-default complete">
    <div class="panel-heading">
        <a class="btn btn-primary oil-select pull-right btn-xs">
            Select Oil
        </a>
        <div class="panel-title">Substance/Oil</div>
            <br>
            <a class="btn btn-primary oil-load pull-right btn-xs">
                Load Oil
            </a>
            <br>
    </div>
    <div class="panel-body">
        Substance is currently set as non-weathering.
    </div>
    <div class="substance-upload hidden"></div>
</div>
