<div class="panel panel-default complete">
    <div class="panel-heading">
        <a class="btn btn-primary oil-select btn-xs pull-right">Change Oil</a>                 
        
        <div class="panel-title">Substance/Oil</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-{{ size }}">
                <label>Name:</label> 
                <a class="oil-info">{{ name }}</a>
            </div>           
            <div class="col-sm-{{ size }}">
                <label>API:</label>
                {{ api }}
            </div>
            <div class="col-sm-{{ size }}">
                <label>Pour Point:</label> 
                {{ temps.pour_point_max_f }} &deg;F | ({{ temps.pour_point_max_c }} &deg;C)
            </div>
            <div class="col-sm-{{ size }}">
                <label>Flash Point:</label> 
                {{ temps.flash_point_max_f }} &deg;F | ({{ temps.flash_point_max_c }} &deg;C)
            </div>
            <div class="col-sm-{{ size }}">
                <label>Categories: </label>
                {% for(c in categories){ %}
                    <span class="label label-warning">{{ categories[c] }}</span>
                {% } %}
            </div>
            <div class="col-sm-{{ size }}">

                <label id="manual" for="emulsion">Emulsification Onset After:
                <a class="btn btn-link btn-xs reset-bull">Reset</a>
                </label>

                <div class="row">
                    <div class="col-md-4"><input type="number" id="emulsion" class="manual form-control input-sm" min="0"></div>
                    <div class="col-md-7">
                        <select class="form-control manual input-sm" id="units-bullwinkle">
                            <option value="time">hours elapsed</option>
                            <option value="percent">% evaporated</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-12 reset">
                <a class="btn btn-danger null-substance btn-xs">
                    Reset to Non-weathering Substance
                </a>
            </div>
        </div>
    </div>
</div>

{% //if (oilCache.length > 1){ %}
<!--         <div class="col-sm-12">
        <div class="cacheContainer panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Recently selected oils</h4>
            </div>
            <div class="panel-body show">
                <ul>
                    {% for (var i = 1; i < oilCache.length; i++){ %}
                        <li>
                            <a class="btn oil-cache" data-adios-id="{{ oilCache[i].get('name') }}">
                                {{ oilCache[i].get('name') }}
                            </a>
                        </li>
                    {% } %}
                </ul>
            </div>
        </div>
    </div> -->
{% //} %}
