<div class="col-md-12">
    <div>
        <p>Spills require a substance, click the button below to select one.</p>
    </div>
    <div>
        <div class="form-group col-sm-12">
            <a class="btn btn-primary add oil-select">
                Select Substance
            </a>
        </div>
    </div>
</div>
{% if (oilCache.length > 1){ %}
    <div class="col-sm-12">
        <div class="cacheContainer panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Recently selected oils</h4>
            </div>
            <div class="panel-body show">
                {% for (var i = 1; i < oilCache.length; i++){ %}
                    <div class="col-sm-4">
                        <a class="btn btn-primary oil-cache" data-adios-id="{{ oilCache[i].get('name') }}">
                            {% var cachedOilName = oilCache[i].get('name').substring(0, 10) %}
                            {{ cachedOilName }}
                        </a>
                    </div>
                {% } %}
            </div>
        </div>
    </div>
{% } %}
