<div class="panel panel-default complete">
    <div class="panel-heading">
        <div class="panel-title">Substance/Oil</div>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-sm-6">
            <label>Substance:</label> 
            <a class="oil-info">Non-weathering</a>
        </div>  
        </div>
        To include weathering processes, oils downloaded from the ADIOS database can be loaded here.
        <br></br>

    <div class="substance-upload hidden"></div>

    <a href="https://adios.orr.noaa.gov/" target="_blank">
           <div class="external_link"></div> ADIOS Oil Database
    </a>
    </div>
</div>
