<div class="option instant" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Instantaneous Release</div>
    <p>Oil is spilled very quickly.</p>
</div>

<div class="option continuous" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Continuous Release</div>
    <p>Oil is spilled over a specified duration.</p>
</div>

<!-- <div class="option pipeline" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Pipline Leak</div>
    <p>Oil leaking from a pipeline</p>
</div>

<div class="option well-blowout" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Well Blowout</div>
    <p>Oil leaking subsurface from a well.</p>
</div> -->