<div class="container">
    <div class="col-md-12"><h2>Setup Your Model</h2></div>
    <div class="col-md-6">
        <div class="panel-primary panel">
            <div class="panel-heading">General Model Info</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="name">Incident Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" name="name">                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="start">Start Time</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control date" id="start" name="start">                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="duration">Duration (Days)</label>
                        <div class="col-sm-3">
                            <input type="number" min="1" max="30" class="form-control" id="duration" name="duration">       
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Requested Prediction</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="fate icon" title="Predict only the fate and behavior of spilled oil (no map)">
                        <span class="glyphicon glyphicon-stats"></span>
                        <div class="icon-footer">Fate Only</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="fateplus icon" title="Predict the fate and trajectory of spilled oil (map required)">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <div class="icon-footer">Fate &amp; Trajectory</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="model-objects">
        <div class="col-md-12"><h4>Required Objects</h3></div>
        <div class="col-md-3 wind">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state"></div>Wind</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-3 water">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state"></div>Water</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-3 spill">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state"></div>Spill</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-3 map">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state"></div>Map</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="model-objects">
        <div class="col-md-12"><h4>Optional Objects</h3></div>
        <div class="col-md-3 resources">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state optional"></div>Resources at Risk</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-4 response">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="state optional"></div>Response Options/Beaching</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

</div>