<div class="controls">
    <div class="buttons">
        <a class="rewind"><span></span></a>
        <a class="play"><span></span></a>
        <a class="next"><span></span></a>
    </div>
    <div class="seek"><div></div><div class="progress"><div class="progress-bar" role="progressbar"></div></div></div>
    <div class="position">{{ date }}</div>
</div>

<div class="layers">
    <div class="title">Layers</div>
    <form role="form" class="form-horizontal">
        <div class="radio">
            <label for="mapquest"><input type="radio" id="mapquest" name="maplayer" checked="checked">Mapquest Map</label>
        </div>
        <div class="radio">
            <label for="usgsbase"><input type="radio" id="usgsbase" name="maplayer">USGS Base Map</label>
        </div>
    </form>
    <form role="form" class="form-horizontal checkboxes">
        <div class="checkbox">
            <label for="basemap"><input type="checkbox" id="basemap">Base Map</label>
        </div>
        <div class="checkbox">
            <label for="noaanavcharts"><input type="checkbox" id="noaanavcharts">NOAA Nav. Charts</label>
        </div>
        <div class="checkbox">
            <label for="modelmap"><input type="checkbox" checked="checked" id="modelmap">Model Map</label>
        </div>
        <div class="checkbox">
            <label for="spills"><input type="checkbox" checked="checked" id="spills">Spills</label>
        </div>
        {% for (var i = 0; i < currents.length; i++){ %}
            <div class="checkbox">
                <label for="currents"><input type="checkbox" checked="checked" id="{{ i + 1 }}">Current #{{ i + 1 }}</label>
            </div>
        {% } %}
    </form>
</div>

<div class="spill-button ol-control">
    <button class="ol-has-tooltip fixed">
        <span role="tooltip">Create a Fixed Spill</span>
    </button>
    <button class="ol-has-tooltip moving">
        <span role="tooltip">Create a Moving Spill</span>
    </button>
</div>

<div class="help-button ol-control">
    <button class="ol-has-tooltip">
        ?
        <span role="tooltip">Help</span>
    </button>
</div>
