<div class="controls">
    <div class="buttons">
        <a class="rewind"><span></span></a>
        <a class="play"><span></span></a>
        <a class="next"><span></span></a>
    </div>
    <div class="seek"><div></div><div class="progress"><div class="progress-bar" role="progressbar"></div></div></div>
    <div class="position">{{ date }}</div>
</div>

<div class="layers">
    <div class="title">Layers</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#general">General</a>
        </div>
        <div id="general" class="panel-collapse collapse in">
            <div class="panel-body">
                <strong>Base Map Type</strong>
                <form role="form" class="form-horizontal base">
                    <div class="radio">
                        <label for="none"><input type="radio" id="none" name="maplayer" checked="checked" value="none">None</label>
                    </div>
                    <div class="radio">
                        <label for="mapquest"><input type="radio" id="mapquest" name="maplayer" value="mapquest">Mapquest</label>
                    </div>
                    <div class="radio">
                        <label for="usgsbase"><input type="radio" id="usgsbase" name="maplayer" value="usgs">USGS</label>
                    </div>
                </form>
                <strong>Visibility</strong>
                <form role="form" class="form-horizontal checkboxes base">
                    <div class="checkbox">
                        <label for="noaanavcharts"><input type="checkbox" id="noaanavcharts">NOAA Nav. Charts</label>
                    </div>
                    <div class="checkbox">
                        <label for="modelmap"><input type="checkbox" checked="checked" id="modelmap">Model Map</label>
                    </div>
                    <div class="checkbox">
                        <label for="spills"><input type="checkbox" checked="checked" id="spills">Spills</label>
                    </div>
                    <div class="checkbox">
                        <label for="spillableArea"><input type="checkbox" checked="checked" id="spillableArea">Spillable Area</label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#grids">Grids</a>
        </div>
        <div class="panel-collapse collapse" id="grids">
            <div class="panel-body">
                {% if(currents.length > 0){ %}
                    <form role="form" class="form-horizontal checkboxes current-grid">
                        <div class="radio">
                            <label for="none-grid" class="curLabel">
                                <input type="radio" class="currents" name="grid" id="none-grid" checked>
                                None
                            </label>
                        </div>
                        {% for (var i = 0; i < currents.length; i++){ %}
                            <div class="radio">
                                <label for="grid-{{ currents[i].get('id') }}" class="curLabel">
                                    <input type="radio" name="grid" class="grid" id="grid-{{ currents[i].get('id') }}">
                                    {{ currents[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    </form>
                {% } %}

                {% if(ice.length > 0){ %}
                    <form role="form" class="form-horizontal checkboxes ice-grid">
                        {% for (var i = 0; i < ice.length; i++){ %}
                            <div class="radio">
                                <label for="grid-{{ ice[i].get('id') }}" class="curLabel">
                                    <input type="radio" class="ice" name="grid" id="grid-{{ ice[i].get('id') }}">
                                    {{ ice[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    </form>
                {% } %}


                {% if(ice.length === 0 && currents.length === 0){ %}
                    No grids available for visualization
                {% } %}
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#uv">U&amp;V | Speed and Direction</a>
        </div>
        <div class="panel-collapse collapse" id="uv">
            <div class="panel-body">
                {% if(currents.length > 0){ %}
                    <form role="form" class="form-horizontal checkboxes current-uv">
                        <div class="radio">
                            <label for="none-uv" class="curLabel">
                                <input type="radio" class="currents" name="uv" id="none-uv" checked>
                                None
                            </label>
                        </div>
                        {% for (var i = 0; i < currents.length; i++){ %}
                            <div class="radio">
                                <label for="uv-{{ currents[i].get('id') }}" class="curLabel">
                                    <input type="radio" class="currents" name="uv" id="uv-{{ currents[i].get('id') }}" {{ active_currents.indexOf(currents[i].get('id')) !== -1 ? 'checked' : '' }}>
                                    {{ currents[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    </form>
                {% } %}
    
                {% if(ice.length > 0){ %}
                    <form role="form" class="form-horizontal checkboxes ice-uv">
                        {% for (var i = 0; i < ice.length; i++){ %}
                            <div class="radio">
                                <label for="uv-{{ ice[i].get('id') }}" class="curLabel">
                                    <input type="radio" class="ice" name="uv" id="uv-{{ ice[i].get('id') }}" {{ active_currents.indexOf(ice[i].get('id')) !== -1 ? 'checked' : '' }}>
                                    {{ ice[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    </form>
                {% } %}

                {% if(ice.length === 0 && currents.length === 0){ %}
                    No U&amp;V available for visualization
                {% } %}
            </div>
        </div>
    </div>

    {% if(ice.length > 0) { %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a role="button" data-toggle="collapse" href="#tc">Thickness &amp; Coverage</a>
            </div>
            <div class="panel-collapse collapse" id="tc">
                <div class="panel-body">
                    {% if(ice.length > 0){ %}
                        <form role="form" class="form-horizontal checkboxes ice-tc">
                            <div class="radio">
                                <label for="thick">
                                    <input type="radio" id="thick" name="ice_data" value="thickness" checked>
                                    Thickness
                                </label>
                            </div>
                            <div class="radio">
                                <label for="con">
                                    <input type="radio" id="con" name="ice_data" value="coverage">
                                    Coverage
                                </label>
                            </div>
                            <div class="inner">
                                {% for (var i = 0; i < ice.length; i++){ %}
                                    <div class="checkbox">
                                        <label for="tc-{{ ice[i].get('id') }}" class="curLabel">
                                            <input type="checkbox" class="ice" id="tc-{{ ice[i].get('id') }}" {{ tc_ice.indexOf(ice[i].get('id')) !== -1 ? 'checked' : '' }}>
                                            {{ ice[i].get('name') }}
                                        </label>
                                    </div>
                                {% } %}
                            </div>
                        </form>
                    {% } %}
                </div>
            </div>
        </div>
    {% } %}
</div>

<div class="spill-button ol-control">
    <!-- <button class="ol-has-tooltip fixed">
        <span role="tooltip">Create a Fixed Spill</span>
    </button>
    <button class="ol-has-tooltip moving">
        <span role="tooltip">Create a Moving Spill</span>
    </button> -->
</div>

<div class="help-button ol-control">
    <button class="ol-has-tooltip">
        ?
        <span role="tooltip">Help</span>
    </button>
</div>
