<div class="controls">
    <div class="buttons">
        <div class="btn-group">
            <button type="button" class="btn record"><span></span></button>
            <button type="button" class="btn stoprecord"><span></span></button>
            <button type="button" class="btn recordcontrols dropdown-toggle" data-toggle="dropdown" data-trigger="hover" aria-haspopup="true" aria-expanded="false">
            <span></span>
            </button>
            <div class="recordmenu dropdown-menu">
                <form>
                    <h5>Select Format</h5>
                    <input type="radio" name="format" value="gif" checked> GIF<br>
                    <input type="radio" name="format" value="webm"> WebM<br>
                    <input type="radio" name="format" value="mp4"> MP4
                    <h5>Settings</h5>
                    FPS <input type="number" name="framerate" min="1" max="15" value="6"><br>
                    Skip # <input type="number" name="skip" min="0" max="8" value="0"><br>
                    Seek Bar <input type="checkbox" name="addseek" checked> <br>
                    Name: <input type='text' name='name' value='webgnome_run'>
                    
                </form>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn rewind"><span></span></button>
            <button type="button" class="btn back"><span></span></button>
            <button type="button" class="btn stop"><span></span></button>
            <button type="button" class="btn play"><span></span></button>
            <button type="button" class="btn pause"><span></span></button>
            <button type="button" class="btn next"><span></span></button>
        </div>
    </div>
    <div class="seek"><div></div><div class="progress"><div class="progress-bar" role="progressbar"></div></div></div>
    <div class="position">{{ date }}</div>
    <div class="gnome-help" title="Get Help on Map View"></div>

</div>



<div class="layers">
    <div class="title">Layers</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#general">General</a>
        </div>
        <div id="general" class="panel-collapse collapse in">
            <div class="panel-body">
                <strong>Visibility</strong>
                <form role="form" class="form-horizontal checkboxes base">
                    <!--<div class="checkbox">
                        <label for="noaanavcharts"><input type="checkbox" id="noaanavcharts">NOAA Nav. Charts</label>
                    </div>-->
                    <div class="checkbox">
                        <label for="modelmap"><input type="checkbox" checked="checked" id="modelmap">Model Map</label>
                    </div>
                    <div class="checkbox">
                        <label for="spills"><input type="checkbox" checked="checked" id="spills">Spills</label>
                    </div>
                    <div class="checkbox">
                        <label for="particles"><input type="checkbox" checked="checked" id="particles">Particles</label>
                    </div>
                    <div class="checkbox">
                        <label for="spillableArea"><input type="checkbox" id="spillableArea">Spillable Area</label>
                    </div>
                    <div class="checkbox">
                        <label for="map_bounds"><input type="checkbox" id="map_bounds">Map Bounds</label>
                    </div>
                    <div class="checkbox">
                        <label for="graticule"><input type="checkbox" checked="checked" id="graticule">Graticule</label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id='accor'>
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#all">Environmental Data</a>
        </div>
        <div class="panel-collapse collapse" id="all">
            <div class="panel-secondary">
                <div class="panel-heading">
                    <a role="button" data-toggle="collapse" href="#grid">Grids</a>
                </div>
                <div class="panel-collapse collapse" id="grid">
                    <div class="panel-body">
                        <form role="form" class="form-horizontal checkboxes env-grid">
                        {% if(env_objs.length !== 0){ %}
                            <div class="radio">
                                <label for="none-grid" class="curLabel">
                                    <input type="radio" class="env_objs" name="grid" id="none-grid" checked>
                                    None
                                </label>
                            </div>
                        {% } %}

                        {% if(env_objs.length > 0){ %}
                            {% for (var i = 0; i < env_objs.length; i++){ %}
                                <div class="radio">
                                <button type="button" class="btn recordcontrols dropdown-toggle" data-toggle="dropdown" data-trigger="hover" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
              <div class="recordmenu dropdown-menu">
                    <form>
                        <h5>Select Format</h5>
                        <input type="radio" name="format" value="gif" checked> GIF<br>
                        <input type="radio" name="format" value="webm"> WebM<br>
                        <input type="radio" name="format" value="mp4"> MP4
                        <h5>Settings</h5>
                        FPS <input type="number" name="framerate" min="1" max="15" value="6"><br>
                        Skip # <input type="number" name="skip" min="0" max="8" value="0"><br>
                        Seek Bar <input type="checkbox" name="addseek" checked> <br>
                        Name: <input type='text' name='name' value='webgnome_run'>
                        
                    </form>
              </div>
                                    <label for="grid-{{ env_objs[i].get('id') }}" class="curLabel">
                                        <input type="radio" name="grid" class="grid" id="grid-{{ env_objs[i].get('id') }}">
                                        {{ env_objs[i].get('name') }}
                                    </label>
                                </div>
                            {% } %}
                        {% } %}
                        </form>

                        {% if(env_objs.length === 0){ %}
                            No environment data available for visualization
                        {% } %}
                    </div>
                </div>
            </div>
            <div class="panel-secondary">
                <div class="panel-heading">
                    <a role="button" data-toggle="collapse" href="#env-uv">U/V</a>
                </div>
                <div class="panel-collapse collapse" id="env-uv">
                    <div class="panel-body">
                        <form role="form" class="form-horizontal checkboxes env-uv">
                        {% if(env_objs.length !== 0){ %}
                            <div class="radio">
                                <label for="none-uv" class="curLabel">
                                    <input type="radio" class="env_objs" name="uv" id="none-uv" checked>
                                    None
                                </label>
                            </div>
                        {% } %}

                        {% if(env_objs.length > 0){ %}
                            {% for (var i = 0; i < env_objs.length; i++){ %}
                                <div class="radio">
                                    <label for="uv-{{ env_objs[i].get('id') }}" class="curLabel">
                                        <input type="radio" name="uv" class="uv" id="uv-{{ env_objs[i].get('id') }}">
                                        {{ env_objs[i].get('name') }}
                                    </label>
                                </div>
                            {% } %}
                        {% } %}
                        </form>

                        {% if(env_objs.length === 0){ %}
                            No environment uv available for visualization
                        {% } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#grids">Grids</a>
        </div>
        <div class="panel-collapse collapse" id="grids">
            <div class="panel-body">
                <form role="form" class="form-horizontal checkboxes current-grid">
                {% if(ice.length !== 0 || currents.length !== 0){ %}
                    <div class="radio">
                        <label for="none-grid" class="curLabel">
                            <input type="radio" class="currents" name="grid" id="none-grid" checked>
                            None
                        </label>
                    </div>
                {% } %}

                {% if(currents.length > 0){ %}
                    {% for (var i = 0; i < currents.length; i++){ %}
                        <div class="radio">
                            <label for="grid-{{ currents[i].get('id') }}" class="curLabel">
                                <input type="radio" name="grid" class="grid" id="grid-{{ currents[i].get('id') }}">
                                {{ currents[i].get('name') }}
                            </label>
                        </div>
                    {% } %}
                {% } %}

                {% if(ice.length > 0){ %}
                    {% for (var i = 0; i < ice.length; i++){ %}
                        <div class="radio">
                            <label for="grid-{{ ice[i].get('id') }}" class="curLabel">
                                <input type="radio" class="ice" name="grid" id="grid-{{ ice[i].get('id') }}">
                                {{ ice[i].get('name') }}
                            </label>
                        </div>
                    {% } %}
                {% } %}
                </form>

                {% if(ice.length === 0 && currents.length === 0){ %}
                    No grids available for visualization
                {% } %}
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#uv">U&amp;V | Speed and Direction</a>
        </div>
        <div class="panel-collapse collapse" id="uv">
            <div class="panel-body">
                <form role="form" class="form-horizontal checkboxes current-uv">

                    {% if(ice.length !== 0 || currents.length !== 0){ %}
                        <div class="radio">
                            <label for="none-uv" class="curLabel">
                                <input type="radio" class="ice" name="uv" id="none-uv" checked>
                                None
                            </label>
                        </div>
                    {% } %}

                    {% if(currents.length > 0){ %}
                        {% for (var i = 0; i < currents.length; i++){ %}
                            <div class="radio">
                                <label for="uv-{{ currents[i].get('id') }}" class="curLabel">
                                    <input type="radio" class="currents" name="uv" id="uv-{{ currents[i].get('id') }}" {{ active_currents.indexOf(currents[i].get('id')) !== -1 ? 'checked' : '' }}>
                                    {{ currents[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    {% } %}

                    {% if(ice.length > 0){ %}
                        {% for (var i = 0; i < ice.length; i++){ %}
                            <div class="radio">
                                <label for="uv-{{ ice[i].get('id') }}" class="curLabel">
                                    <input type="radio" class="ice" name="uv" id="uv-{{ ice[i].get('id') }}" {{ active_currents.indexOf(ice[i].get('id')) !== -1 ? 'checked' : '' }}>
                                    {{ ice[i].get('name') }}
                                </label>
                            </div>
                        {% } %}
                    {% } %}
                </form>
                {% if(ice.length === 0 && currents.length === 0){ %}
                    No U&amp;V available for visualization
                {% } %}
            </div>
        </div>
    </div>

    {% if(ice.length > 0) { %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a role="button" data-toggle="collapse" href="#tc">Thickness &amp; Concentration</a>
            </div>
            <div class="panel-collapse collapse" id="tc">
                <div class="panel-body">
                    {% if(ice.length > 0){ %}
                        <form role="form" class="form-horizontal checkboxes ice-tc">
                            <div class="radio">
                                <label for="thick">
                                    <input type="radio" id="thick" name="ice_data" value="thickness" checked>
                                    Thickness
                                </label>
                            </div>
                            <div class="radio">
                                <label for="con">
                                    <input type="radio" id="con" name="ice_data" value="concentration">
                                    Concentration
                                </label>
                            </div>
                            <div class="inner">
                                {% for (var i = 0; i < ice.length; i++){ %}
                                    <div class="checkbox">
                                        <label for="tc-{{ ice[i].get('id') }}" class="curLabel">
                                            <input type="checkbox" class="ice" id="tc-{{ ice[i].get('id') }}" {{ tc_ice.indexOf(ice[i].get('id')) !== -1 ? 'checked' : '' }}>
                                            {{ ice[i].get('name') }}
                                        </label>
                                    </div>
                                {% } %}
                            </div>
                        </form>
                    {% } %}
                </div>
            </div>
        </div>
    {% } %}
</div>

<!--<div class="spill-button ol-control">
    <button class="ol-has-tooltip fixed">
        <span role="tooltip">Create a Fixed Spill</span>
    </button>
    <button class="ol-has-tooltip moving">
        <span role="tooltip">Create a Moving Spill</span>
    </button>
</div>-->


