<table class="table table-striped">
    <thead>
        <tr>
            <th>Process</th>
            <th>Selected Period ({{ units }})</th>
            <th>Cumulative ({{ units }})</th>
            <th>Cumulative Uncertainty ({{ units }})</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Volumed Spilled</td>
            <td>{{ report.amount_released }}</td>
            <td>{{ cumulative.amount_released }}</td>
            <td>{{ low.amount_released }} - {{ high.amount_released }}</td>
        </tr>
        <tr>
            <td>Evaporated</td>
            <td>{{ report.evaporated }}</td>
            <td>{{ cumulative.evaporated }}</td>
            <td>{{ low.evaporated }} - {{ high.evaporated }}</td>
        </tr>
        <tr>
            <td>Dispersed (natural)</td>
            <td>{{ report.dispersed }}</td>
            <td>{{ cumulative.dispersed }}</td>
            <td>{{ low.dispersed }} - {{ high.dispersed }}</td>
        </tr>
        <tr>
            <td>Dispersed (chemical)</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>Burned</td>
            <td>{{ report.burned }}</td>
            <td>{{ cumulative.burned }}</td>
            <td>{{ low.burned }} - {{ high.burned }}</td>
        </tr>
        <tr>
            <td>Mechanical Recovery</td>
            <td>{{ report.skimmed }}</td>
            <td>{{ cumulative.skimmed }}</td>
            <td>{{ low.skimmed }} - {{ high.skimmed }}</td>
        </tr>
        <tr>
            <td>Other Natural Removal</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>Beached/Contained</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>Remaining</td>
            <td>{{ report.floating }}</td>
            <td>{{ cumulative.floating }}</td>
            <td>{{ low.floating }} - {{ high.floating }}</td>
        </tr>
    </tbody>
</table>