<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Configure Your Model
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="model-objects"></div>
    </div>
    <div class="row response-panels">
        <div class="response-objects">
            <div class="col-md-12"><h4>Removal Options</h4></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Timeline</h4>
        </div>
        <div class="col-md-12">
            <div class="timeline">
            </div>
        </div>
    </div>
</div>
