<div class="container">
    <div class="row">
        <div class="main">
            <h1>Location Files</h1>
                <p>
                Once you select a location, you will be asked a series of questions that will help you set up 
                your spill scenario. The questions depends on the specific region being modeled. If you need help 
                answering a question, click the question mark icon <i class="gnome-help-icon"></i> at the top of the dialog box. 
                </p>
                <p>
                Note: Location Files are useful for planning but should not be used to model real oil spills! 
                To learn more, see the <a href = "http://gnome-stage.orr.noaa.gov/nightly/doc/location_files.html">
                Location Files section of the WebGNOME User Manual. </a>
                </p>
                <p>
                <b>To get started, pick a site from the map or from the list on the right.</b>
                </p>      
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="location-list"></div>
            <div class="map" id="locations-map"></div>
        </div>
        
    </div>
    <div class="popup"></div>
    <div class="tooltip-hover"></div>
</div>
