<div class="container">
    <div class="row">
        <div class="main">
            <h1>Location Files</h1>
                <p>
                The Location File Wizard asks questions to help you set up the spill scenario. The questions depends on 
                the specific region being modeled. If you need help answering a Wizard question, use the help button 
                on the Wizard title bar. </p>
                <p>
                Location Files are useful for planning but should not be used to model real oil spills! Visit the Location
                Files section of the WebGNOME User Manual to learn more.</p>
    
                <p><b>Pick from available sites</b> on the map below or the menu on the right to load a Location File.</p>
    
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="location-list"></div>
            <div class="map" id="locations-map"></div>
        </div>
        
    </div>
    <div class="popup"></div>
    <div class="tooltip-hover"></div>
</div>
