<div class="container">
    <div class="row">
        <div class="main">
            <h2>Location Files</h2>
                <p>
                To get started, pick a site from the map or from the list on the right.
                </p>      
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="location-list"></div>
            <div class="map" id="locations-map">
                <div class="popup"></div>
            </div>
        </div>
        
    </div>
    <div class="tooltip-hover"></div>
</div>
