<div class="panel panel-default optional">
    <div class="panel-heading">
        <span>Specify Observed Beached Oil</span>
        <div class="add"></div>
        <div class="state optional"></div>
    </div>
    <div class="panel-body">
        {% if(timeseries.length < 2){ %}
            <div><label>Amount Beached: </label> {{ amount }} {{ units }}</div>
            <div><label>Date: </label> {{ date }}</div>
        {% } else { %}
            <div class="chart">
                <div class="axisLabel yaxisLabel">{{ units }}</div>
                <div class="axisLabel xaxisLabel">Time</div>
                <div class="canvas"></div>
            </div>
        {% } %}
    </div>
</div>