<div class="panel panel-default">
    <div class="panel-heading">
        <span>Currents</span>
        <div class="add"></div>
        <div class="state"></div>
    </div>
    <div class="panel-body">
        <div class="map" id="mini-currentmap">
            <div class="loader"></div>
        </div>
        <div class="list">
            {% for (var i = 0; i < currents.length; i++){ %}
                <div class="single row" data-id="{{ currents[i].get('id') }}">
                        <div class="col-sm-8">
                        <label>
                        {% if(currents[i].get('on')){ %}
                            <input type="checkbox" name="active" value="1" id="active" checked="checked"> {{ currents[i].get('name') }}
                        {% } else { %}
                            <input type="checkbox" name="active" value="1" id="active"> {{ currents[i].get('name') }}
                        {% } %} </label>
                        </div>

                    <div class="col-sm-4">
                        <span class="trash delete" title="Remove {{ currents[i].get('name') }}"></span>
                        <span class="edit" title="Edit {{ currents[i].get('name') }}"></span>
                        <span class="time-check {{ currents[i].isTimeValid() }}" title="Data compatibility with model run period"></span>
                    </div>
                </div>
            {% } %}
        </div>            
    </div>
</div>
