<div class="panel panel-default">
    <div class="panel-heading">
        <span>Wind</span>
        <div class="add"></div>
        <div class="state"></div>
    </div>
    <div class="panel-body">
        <div class="map" id="mini-windmap">
            <div class="loader"></div>
        </div>
        <div class="list currents-panel-list">
            {% for (var i = 0; i < currents.length; i++){ %}
                {# currents[i] }}
            {% } %}
        </div>
        <div class="list goods-request-list">
            {% for (var i = 0; i < goodsReqs.length; i++){ %}
                {# goodsReqs[i] }}
            {% } %}
        </div>            
    </div>
</div>