<div class="panel-default panel">
    <div class="panel-heading">
        <div class="advanced-edit edit add"></div>
        Model Settings 
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="name">Incident Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="start_time">Start Time</label>
                <div class="col-sm-6">
                    <div class="input-group date">
                        <input type="text" id="start_time" class="form-control datetime" value="{{ start_time }}" name="start">
                        <span class="input-group-addon" id="datepick">
                            <i></i>
                        </span>
                    </div>
                </div>                        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Duration</label>
                <div class="col-sm-3">
                    <label class="control-label" for="days">Day(s)</label>
                    <input type="number" class="form-control" id="days" min="0" max="30" value="{{ duration.days }}">
                </div>
                <div class="col-sm-3">
                    <label class="control-label" for="hours">Hour(s)</label>
                    <input type="number" class="form-control" id="hours" min="0" max="23" value="{{ duration.hours }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="end_time">Time Step (sec)</label>
                <div class="col-sm-3">
                    <input type="number" id="time_step" class="form-control" value="{{ time_step }}" name="time_step" min="1" max="{{ duration.seconds }}">
                </div>
                <div class="col-sm-2">
                    <span class="label label-info">{{ Number(time_step/60).toFixed(2) }} minutes</span>
                </div>
                <div class="col-sm-2">
                    <span class="label label-info">{{ webgnome.model.get('num_time_steps') }} steps</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1">
                    <div class="checkbox">
                        <label>
                            {% if(uncertain){ %}
                                <input type="checkbox" value="1" id="uncertain" checked="checked">
                            {% } else { %}
                                <input type="checkbox" value="1" id="uncertain">
                            {% } %}
                            Include uncertainy in particle transport
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>