<div class="panel panel-default optional">
    <div class="panel-heading">
        <span>Equipment Parameters</span>
        <div class="add"></div>
        <div class="state optional"></div>
    </div>
    <div class="panel-body">
        <div class="chart" style="display: none;">
            <div class="axisLabel yaxisLabel"></div>
            <div class="axisLabel xaxisLabel">Time</div> 
            <div class="canvas"></div>
        </div>
        {% if (responses.length > 0) { %}
            <div class="list">
                {% for (var i = 0; i < responses.length; i++){ %}
                    <div class="single row" data-id="{{ responses[i].get('id') }}">
                        <div class="col-sm-9">
                            <h5>{{ responses[i].get('name') }}</h5>
                        </div>
                        <div class="col-sm-3">
                            <span class="trash delete" title="Remove {{ responses[i].get('name') }}"></span>
                            <span class="edit" title="Edit {{ responses[i].get('name') }}"></span>
                        </div>
                    </div>
                {% } %}
            </div>
        {% } %}
    </div>
</div>


