<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add"></div>
        <div class="state"></div>
        Spill
    </div>
    <div class="panel-body">
        {% if(spills.length > 0){ %}
            <div class="chart">
                <div class="axisLabel yaxisLabel">{{ spills[0].get('units') }}</div>
                <div class="axisLabel xaxisLabel">Time</div> 
                <div class="canvas"></div>
            </div>
        {% } %}
        {% if (spills.length > 0 && substance.get('is_weatherable')) { %}
            <div class="row">
                <div class="substance-info col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 label-container">
                            <div class="col-sm-6">
                                <label class="left">Substance</label>
                            </div>
                            <div class="col-sm-6">
                                <span class="edit" title="Edit Substance" data-id="{{ spills[0].get('id') }}"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 substance-data">
                            <label>Name: </label>
                            {{ substance.get('name') }}
                        </div>
                        <div class="col-sm-6 substance-data">
                            <label>API: </label>
                            {{ substance.get('api').toFixed(1) }}
                        </div>
                        <div class="col-sm-6 substance-data">
                            <label>Categories: </label>
                            {% for(c in categories){ %}
                                <div class="label label-warning">{{ categories[c] }}</div>
                            {% } %}
                            {% if (categories.length === 0){ %}
                                <div class="label label-warning">None</div>
                            {% } %}
                        </div>
                    </div>
                </div>
            </div>
        {% } else { %}
            <div class="row">
                <div class="substance-info col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 label-container">
                            <div class="col-sm-10">
                                <label class="left">Substance</label>
                            </div>
                            <div class="col-sm-2">
                                <span class="edit" title="Edit Substance" data-id="{% if (spills.length > 0){ %}{{spills[0].get('id')}}{% } %}"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 substance-data">
                            <label>Name: </label>
                            Non-weathering substance
                        </div>
                    </div>
                </div>
            </div>
        {% } %}
        <div class="list">
        {% for (var i = 0; i < spills.length; i++){ %}
            {% var spillValid = spills[i].validationContext %}
            {% var rowClass = 'single row'; %}
            {% if (spillValid === 'map') rowClass += 'single row error-map';  %}
            {% if (spillValid === 'info') rowClass = 'single row error-gen'; %}
            <div class="{{ rowClass }}" data-id="{{ spills[i].get('id') }}">
                <div class="col-sm-4">
                <label>
                {% if(spills[i].get('on')){ %}
                    <input type="checkbox" name="active" value="1" id="spill_active" checked="checked"> {{ spills[i].get('name') }}
                {% } else { %}
                    <input type="checkbox" name="active" value="1" id="spill_active"> {{ spills[i].get('name') }}
                {% } %} </label>
                    {% var amount = spills[i].get('amount'); %}
                    {%     if(spills[i].get('amount_uncertainty_scale') > 0){ %}
                    {%        var value = spills[i].get('amount_uncertainty_scale'); %}
                    {%        var bottom = parseInt(Math.round((amount * (1 - value))), 10); %}
                    {%        if (bottom < 0) { %}
                    {%            bottom = 0; %}
                    {%        } %}
                    {%        var top = parseInt(Math.round((amount * (1 + value))), 10);     %}
                    {%        amount = bottom + ' - ' + top; %}
                    {%    } %}
                    {%    var units = spills[i].get('units'); %}
                    {%    var info = amount + ' ' + units; %}
                    {% if (spillValid === 'info') info += ' (invalid amount or units)'; %}
                </div>
                <div class="col-sm-5">
                    <span class="label label-default amount">{{ info }}</span>
                    {% if (spills[i].get('release').get('start_position')){ %}
                        {% var lon = Math.round(spills[i].get('release').get('start_position')[0] * 100) / 100 %}
                        {% var lat = Math.round(spills[i].get('release').get('start_position')[1] * 100) / 100 %}
                        {% var start = lat + ', ' + lon %}
                        {% lon = Math.round(spills[i].get('release').get('end_position')[0] * 100) / 100 %}
                        {% lat = Math.round(spills[i].get('release').get('end_position')[1] * 100) / 100 %}
                        {% var end = lat + ', ' + lon %}
                        {% if (start === end ){ %}
                            {% pos = start %}
                        {% } else{ %}
                            {% pos = start + ' to ' + end %}
                        {% } %}
                        {% if (spillValid === 'map'){ %}
                            {% pos += ' (out of map bounds)' %}
                        {% } %}
                        <span class="coords"><span class="glyphicon glyphicon-map-marker"></span> {{ pos }}</span>
                    {% } %}
                </div>
                <div class="col-sm-3">
                    <span class="trash delete" title="Remove {{ spills[i].get('name') }}"></span>
                    <span class="edit" title="Edit {{ spills[i].get('name') }}"></span>
                    <span class="time_check {{ spills[i].get('time_compliance') }}" title="Data compatibility with model run period"></span>
                </div>
            </div>
        {% } %}
        </div>
    </div>
</div>
