<div class="axisLabel yaxisLabel"> {{ spills[1].get('units') }} </div><div class="chart"></div>
<form class="form-horizontal spill-info" role="form">
	{% for (var i = 0; i < spills.length; i++){ %}
		<div class="spill-single" data-id="{{ spills[i].get('id') }}">
			<div><label for="name">Spill Name: </label> {{ spills[i].get('name') }}</div>
			<div><label for="amount"> Amount: </label> {{ spills[i].get('amount') }} {{ spills[i].get('units') }}</div>
			<div><label for="start_time"> Start Time: </label> {{ moment(spills[i].get('release').get('release_time')).format('lll') }} <label for="end_time">End Time: </label> {{ moment(spills[i].get('release').get('end_release_time')).format('lll') }}</div>
		</div>
	{% } %}
</form>
				
