<div class="panel panel-default">
    <div class="panel-heading toggle-panel">
        <span>Oil Weathering</span>
        {% if (valid_check === 'invalid') { %}
            <div class="valid-weathering invalid" title="Model does not have all required components (wind/water/oil) to activate weathering"></div>
        {% } %}
        {% if (manual_on) { %}
            <div class="weathering-control manual" title="Some weatherer activation is under manual control. Click to reset."></div>
        {% } %}
        <div class="add" title="Edit Weatherers"></div>
    </div>
    <div class="panel-body">
        <div class="list">
            <div class="row" data-id="{{ evaporation.get('id') }}">
                <div class="col-sm-9">
                    <label name="evap">
                    {% if(evaporation.get('on')){ %}
                        <input type="checkbox" id="evap_on" checked="checked">
                    {% } else { %}
                        <input type="checkbox" id="evap_on">
                    {% } %}
                         Evaporation
                    </label>
                </div>
            </div>
            <div class="row" data-id="{{ dispersion.get('id') }}">
                <div class="col-sm-9">
                    <label name="disp" >
                    {% if(dispersion.get('on')){ %}
                        <input type="checkbox" id="disp_on" checked="checked">
                    {% } else { %}
                        <input type="checkbox" id="disp_on">
                    {% } %} Natural Dispersion
                    </label>
                </div>
            </div>
            <div class="row" data-id="{{ emulsification.get('id') }}">
                <div class="col-sm-9">
                    <label name="emul" >
                    {% if(emulsification.get('on')){ %}
                        <input type="checkbox" id="emul_on" checked="checked">
                    {% } else { %}
                        <input type="checkbox" id="emul_on">
                    {% } %} Emulsification
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <span class="label label-info attached-wind">{{ wind_name }}</span>
                </div>
            </div>
            
<!--
            {% for (var i = 0; i < weatherers.length; i++){ %}
                <div class="single row" data-id="{{ weatherers[i].get('id') }}">
                    {% var name = weatherers[i].get('name'); %}
                    <div class="col-sm-8">
                        <label>
                        {% if(weatherers[i].get('on')){ %}
                            <input type="checkbox" name="active" value="1" id="active" checked="checked"> {{ name }}
                        {% } else { %}
                            <input type="checkbox" name="active" value="1" id="active"> {{ name }}
                        {% } %} </label>
                    </div>
                    {% if(weatherers[i].get('wind')){ %}
                    <div class="col-sm-2">
                        <span class="label label-info">{{ weatherers[i].get('wind').get('name') }}</span>
                    </div>
                    {% } %}
                </div>
            {% } %}
-->
        </div>
	</div>
</div>