{% if(page) { %}<div class="container">{% } %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="upload active">
                    <a href="#upload" data-toggle="tab">Upload File</a>
                </li>
                <li class="use_uploaded">
                    <a href="#use_uploaded" data-toggle="tab">Use Uploaded File</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="upload">
                    <div class="dropzone"></div>
                    <div style="margin-top: 10px;">
                        <div class="col-md-9">
                            <label>
                                <input type="checkbox" id="persist_upload">
                                save file for later
                            </label>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="confirm save" hidden>Confirm Upload</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="use_uploaded">
                    <div class="upload-folder"></div>
                </div>
            </div>
        </div>
    </div>
{% if(page) { %}</div>{% } %}
