<ul class="breadcrumb">
    <li>Uploads</li>
</ul>


<div class="col-sm-12 table-wrapper">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Size</b></th>
                <th>
                    <span class="glyphicon glyphicon-plus new-folder" title="New Folder"></span>
                </th>
            </tr>
        </thead>
        <tbody id="file_list">
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="open save">Open</button>
</div>
