{% if(file.get('type') === 'd') { %}
<tr class='upload-d'>
{% } else { %}
<tr class='upload-f'>
{% } %}
    <td>
        {% if(file.get('type') === 'd') { %}
            <i class="glyphicon glyphicon-folder-close"></i>
        {% } %}
        {{ file.get('name') }}
    </td>
    <td>{{ file.formattedSize() }}</td>
    <td>
        {% if(file.get('type') === 'f'){ %}
            <span class="glyphicon glyphicon-open open-file" title="Open File"></span>
        {% } else { %}
            <span class="glyphicon glyphicon-folder-open open-folder" title="Open Folder"></span>
        {% } %}
        <span class="glyphicon glyphicon-trash delete-file" title="Delete"></span>
    </td>
</tr>
